.map-popup {
    display: flex;
    padding: 0;
    width: 20rem;
    min-height: 10rem;
    max-height: 20rem;
    overflow: auto;
    font-family: var(--go-ui-font-family-sans-serif);
    font-size: var(--go-ui-font-size-md);

    :global {
        .mapboxgl-tip {
            flex-shrink: 0;
        }

        .mapboxgl-popup-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;
            overflow: auto;

            >div {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 0;
                overflow: auto;
            }
        }
    }

    .container {
        flex-grow: 1;
        border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
        width: 100%;
        height: 100%;
        overflow: auto;

        .close-button {
            font-size: var(--go-ui-height-icon-multiplier);
        }

        .content {
            overflow: auto;
        }
    }
}

