.preparedness-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);

    .actions-container {
        display: flex;
        align-items: center;
    }
    .approach-content {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

        .approach-description {
            font-size: var(--go-ui-font-size-xl);
        }

        .approach-image {
            margin: 0 auto;
            height: 20rem;
            aspect-ratio: 1 / 1;
        }
    }
}
