.link {
    display: contents;

    .layout {
        &.with-underline {
            text-decoration: underline;
        }
    }

    .link-icon {
        font-size: var(--go-ui-height-icon-multiplier);
    }
}
