.preparedness-global-summary {
    width: 100%;
    aspect-ratio: 2 / 3;

    .summary-iframe {
        border: none;
        /* background-color: var(--go-ui-color-gray-30); */
        width: 100%;
        height: 100%;
    }
}
