.description {
    overflow-wrap: anywhere;

    &.with-centered-content {
        margin: 0 auto;
        max-width: var(--go-ui-width-content-max);
        text-align: center;
    }

    &.with-light-text {
        color: var(--go-ui-color-text-light);
    }

    &:empty {
        display: none;
    }
}
