.legend {
    display: flex;
    /* border-radius: 0 0 var(--go-ui-border-radius-lg) var(--go-ui-border-radius-lg); */
    /* border-top: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator); */
    position: relative;
    bottom: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: auto;
    background-color: #F7F7F7;
    padding: 10px;
    font-family: var(--go-ui-font-family-sans-serif);
    gap: 6.4px;
}

.vertical {
    align-items: flex-start;
    flex-direction: column;
}

.horizontal {
    align-items: center;
    flex-direction: row;
}

.item {
    display: flex;
    align-items: center;
    transition: all var(--go-ui-duration-transition-medium) ease-in-out;
    border: 0;
    border-radius: var(--go-ui-border-radius-sm);
    background: transparent;
    cursor: pointer;
    padding: 4px 6.4px;
    color: var(--go-ui-color-text);
    font-size: 12.25px;
    min-height: 23.3125px;
    font-weight: var(--go-ui-font-weight-light);
    gap: 6.4px;

    &:hover { 
        border-radius: var(--go-ui-border-radius-sm);
        background-color: var(--go-ui-color-background-hover);
    }

    &.active {
        border-radius: var(--go-ui-border-radius-sm);
        background-color: var(--go-ui-color-background-hover);
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.color {
    flex-shrink: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.label {
    line-height: var(--go-ui-line-height-xs);
    font-family: var(--go-ui-font-family-sans-serif);

}
