.legend {
    display: flex;
    flex-wrap: wrap;
    gap: var(--go-ui-spacing-xs);
    justify-content: flex-start;
    padding: var(--go-ui-spacing-sm);
    font-family: var(--go-ui-font-family-sans-serif);
    margin-top: auto;
    background-color: var(--go-ui-color-background);
    /* border-radius: 0 0 var(--go-ui-border-radius-lg) var(--go-ui-border-radius-lg); */
    /* border-top: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator); */
    position: relative;
    bottom: 0px;
}

.vertical {
    flex-direction: column;
    align-items: flex-start;
}

.horizontal {
    flex-direction: row;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: var(--go-ui-spacing-xs);
    padding: var(--go-ui-spacing-2xs) var(--go-ui-spacing-xs);
    border-radius: var(--go-ui-border-radius-sm);
    cursor: pointer;
    transition: all var(--go-ui-duration-transition-medium) ease-in-out;
    font-size: var(--go-ui-font-size-xs);
    font-weight: var(--go-ui-font-weight-light);
    color: var(--go-ui-color-text);
    border: 0;
    background: transparent;

    &:hover {
        background-color: var(--go-ui-color-background-hover); 
        border-radius: var(--go-ui-border-radius-sm);
    }

    &.active {
        background-color: var(--go-ui-color-background-hover);
        border-radius: var(--go-ui-border-radius-sm);
    }

    &.disabled {
        opacity: var(--go-ui-opacity-disabled);
        pointer-events: none;
    }
}

.color {
    width: var(--go-ui-spacing-sm);
    height: var(--go-ui-spacing-sm);
    border-radius: 50%;
    flex-shrink: 0;
}

.label {
    line-height: var(--go-ui-line-height-xs);
}
