.emergency-details {
    padding: var(--go-ui-spacing-5xl) 0;

    .key-figure-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--go-ui-spacing-lg);

        .key-figure {
            flex-basis: 20rem;
            border-radius: var(--go-ui-border-radius-md);
            box-shadow: var(--go-ui-box-shadow-lg);
        }
    }

    .overview-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--go-ui-spacing-lg);

        .overview {
            display: flex;
            flex-direction: column;
            flex-basis: 25rem;
            gap: var(--go-ui-spacing-sm);

            .color-dot {
                flex-shrink: 0;
                border-radius: 0.3rem;
                width: 0.6rem;
                height: 0.6rem;
            }
        }
    }
}
