.emergency-details {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-5xl) 0;
    gap: var(--go-ui-spacing-5xl);

    .key-figure-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--go-ui-spacing-lg);

        .key-figure {
            flex-basis: 20rem;
            border-radius: var(--go-ui-border-radius-md);
            box-shadow: var(--go-ui-box-shadow-lg);
        }
    }

    .overview-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--go-ui-spacing-lg);

        .overview {
            display: flex;
            flex-basis: 25rem;
            flex-direction: column;
            gap: var(--go-ui-spacing-sm);

            .color-dot {
                flex-shrink: 0;
                border-radius: 0.3rem;
                width: 0.6rem;
                height: 0.6rem;
            }
        }
    }
    .map-key-figure-container {
        display: flex;
        flex-grow: 1;
        gap: var(--go-ui-spacing-md);

        .map-container {
            display: flex;
            flex-basis: 70%;
            width: 100%;
        }

        .field-report-stats-container {
            display: flex;
            flex-grow: 1;
            padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);

            .field-report-stats {
                flex-grow: 1;
            }
        }
    }

    .contacts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--go-ui-spacing-lg);

        .contact-list-container {
            flex-basis: 16rem;
            border-radius: var(--go-ui-border-radius-md);
            box-shadow: var(--go-ui-box-shadow-lg);
            padding: var(--go-ui-spacing-md);

            .contact-list {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-md);
            }
        }
    }
}
