.header-class-name {
    padding-left: var(--go-ui-spacing-lg);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-xs);
    padding-left: var(--go-ui-spacing-lg);

    svg {
        padding: var(--go-ui-spacing-xs);
        width: 24px;
        height: 24px;
        color: var(--go-ui-color-white);
    }

    .icon-red {
        border-radius: var(--go-ui-border-radius-full);
        background-color: var(--go-ui-color-red-90);
    }

    .icon-orange {
        border-radius: var(--go-ui-border-radius-full);
        background-color: var(--go-ui-color-orange);
    }

    .icon-green {
        border-radius: var(--go-ui-border-radius-full);
        background-color: var(--go-ui-color-green);
    }

    .storm-red {
        background-color: var(--go-ui-color-red-90);
        width: 40px;
        height: 20px;
    }

    .storm-orange {
        background-color: var(--go-ui-color-orange);
        width: 40px;
        height: 20px;
    }

    .storm-green {
        background-color: var(--go-ui-color-green);
        width: 40px;
        height: 20px;
    }
}
