.text-output {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--go-ui-spacing-sm);

    .label {
        display: inline-flex;

        &.with-colon::after {
            content: ':';
        }
    }

    .value {
        display: inline-flex;

        &.text-type {
            text-align: justify;
            white-space: pre-wrap;
        }
    }

    .strong {
        font-weight: var(--go-ui-font-weight-semibold);
    }
}
