.account-three-w-forms {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-4xl);
    padding: var(--go-ui-spacing-4xl) 0;
    min-height: 30vh;

    .project-table,
    .activity-table {
        width: 100%;
    }
}
