.resources {
    .iframe-embed {
        display: flex;
        justify-content: center;

        .iframe {
            border: none;
            background-color: var(--go-ui-color-gray-30);
            width: 100%;
            max-width: 30rem;
            height: 100vh;
            max-height: 20rem;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);

        .user-cards {
            display: grid;
            grid-gap: var(--go-ui-spacing-md);
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .guide-card {
                border: var(--go-ui-width-separator-md) solid var(--go-ui-color-background);
                border-radius: var(--go-ui-border-radius-lg);
                box-shadow: var(--go-ui-box-shadow-md);

                .guide-list {
                    display: grid;
                    grid-gap: var(--go-ui-spacing-md);
                    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));

                    .icon-circle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--go-ui-border-radius-full);
                        background-color: var(--go-ui-color-primary-red);
                        width: 1.5rem;
                        height: 1.5rem;
                        color: var(--go-ui-color-white);
                        font-size: var(--go-ui-font-size-xs);
                        font-weight: var(--go-ui-font-weight-medium);
                    }
                }
            }
        }

        .ifrc-resource-list {
            display: grid;
            grid-gap: var(--go-ui-spacing-md);
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .resource-card {
                border-radius: var(--go-ui-border-radius-lg);
                box-shadow: var(--go-ui-box-shadow-lg);

                .resource-content {
                    display: flex;
                    flex-direction: column;
                    gap: var(--go-ui-spacing-md);
                }
            }
        }

        .contacts-list {
            display: grid;
            grid-gap: var(--go-ui-spacing-md);
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

            .contact {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-sm);
                border-radius: var(--go-ui-border-radius-lg);
                box-shadow: var(--go-ui-box-shadow-md);
                padding: var(--go-ui-spacing-md);

                .extent {
                    font-size: var(--go-ui-font-size-lg);
                    font-weight: var(--go-ui-font-weight-semibold);
                }
            }
        }

        .support-section {
            display: grid;
            grid-gap: var(--go-ui-spacing-lg);
            grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));

            .link {
                background-color: var(--go-ui-color-white);
                padding: var(--go-ui-spacing-xl);
                width: 100%;

                .logo {
                    width: 100%;
                    object-fit: contain;
                    object-position: center center;
                }
            }
        }
    }
}
