.surge-map {
    .clear-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .map-container {
        height: 40rem;
    }

    .text-output {
        display: flex;
        flex-wrap: nowrap;

        .label {
            white-space: nowrap;
            word-break: keep-all;
            overflow-wrap: normal;
        }
    }

    .footer {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--go-ui-color-background);
        padding: var(--go-ui-spacing-lg);
        gap: var(--go-ui-spacing-md);

        .legend {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);

            .legend-item {
                font-size: var(--go-ui-font-size-md);
            }
        }
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-lg);
}
