.additional-tab {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);
    padding: var(--go-ui-spacing-2xl) 0;

    .additional-content {
        display: flex;
        flex-direction: column;
    }
}
