.emergency-surge {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);
    padding: var(--go-ui-spacing-2xl) 0;

    .key-figure-list {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(18rem, max-content));
        align-content: center;
        justify-content: center;

        .key-figure {
            border-radius: var(--go-ui-border-radius-lg);
            box-shadow: var(--go-ui-box-shadow-md);
        }
    }
}
