.pga-export {
    .page-break {
        break-before: page;
    }

    .description {
        margin: 0;
        padding-inline-start: var(--go-ui-spacing-sm);
    }

    .table-description {
        font-weight: var(--go-ui-font-weight-bold);
    }

    .bank-details {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 1fr 1fr;
        page-break-inside: avoid;
    }

    .dref-signed {
        display: grid;
        grid-gap: var(--go-ui-spacing-xl);
        grid-template-columns: 1fr 1fr;
        page-break-inside: avoid;

        .dref-table {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}
