.health-emergency-clinic {
    padding-top: var(--go-ui-spacing-md);

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-lg);

        .image-list {
            display: flex;

            .image {
                height: 10rem;
            }
        }
        .emergency-description {
            font-style: italic;
        }
        .inner-content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);
        }
    }
}
