.risk-imminent-event-map {
    display: flex;
    gap: var(--go-ui-spacing-md);
    height: 40rem;
    overflow: auto;

    .side-panel {
        flex-basis: calc(14vw + 16rem);
        margin: var(--go-ui-spacing-sm) var(--go-ui-spacing-sm) var(--go-ui-spacing-sm) 0;
        border-radius: var(--go-ui-border-radius-md);
        box-shadow: var(--go-ui-box-shadow-sm);

        .icon {
            font-size: var(--go-ui-height-icon-multiplier);
        }

        .content {
            overflow: auto;

            .event-list {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-xs);

                .risk-event-list-item {
                    border: var(--go-ui-width-separator-sm) solid transparent;
                    background-color: var(--go-ui-color-background);
                    padding: var(--go-ui-spacing-sm);

                    &:hover {
                        border-color: var(--go-ui-color-separator);
                    }
                }
            }
        }
    }

    .map-container {
        flex-grow: 1;

        .legend {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);
            background-color: var(--go-ui-color-white);

            .legend-item {
                display: flex;
                align-items: center;
                gap: var(--go-ui-spacing-xs);

                .icon-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: var(--go-ui-font-size-2xl);
                    height: var(--go-ui-font-size-2xl);

                    .icon {
                        color: var(--go-ui-color-white);
                    }

                    .wildfire-icon {
                        height: 0.8rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 50rem) {
        flex-direction: column;
        height: initial;

        .side-panel {
            flex-basis: unset;
            margin: unset;
            border-radius: unset;
            box-shadow: unset;
            max-height: 70vh;
            overflow: auto;
        }

        .map-container {
            height: min(40rem, 60vh);
        }
    }
}
