[submodule "go-api"]
	path = go-api
	url = git@github.com:IFRCGo/go-api.git
[submodule "go-risk-module-api"]
	path = go-risk-module-api
	url = git@github.com:IFRCGo/go-risk-module-api.git
[submodule "cacheppuccino"]
	path = cacheppuccino
	url = git@github.com:IFRCGo/cacheppuccino.git
