.chart-axis-x {
    .x-axis-tick-text {
        transition: var(--go-ui-duration-transition-medium) ease-in-out transform;
        padding: var(--go-ui-spacing-xs) 0;
        text-align: center;
        word-break: break-word;
        font-size: var(--go-ui-font-size-xs);

        @media screen and (max-width: 30rem) {
            transform: rotate(-30deg);
        }

        &.first {
            text-align: left;
        }

        &.last {
            text-align: right;
        }
    }

    .axis-lines {
        stroke: var(--go-ui-color-gray-60);
        stroke-dasharray: 4 4;
        stroke-opacity: 0.5;

        &.hovered {
            stroke-opacity: 1;
        }
    }
}
