.historical-data-chart {
    .header {
        align-items: flex-end;
    }

    .chart-container {
        position: relative;
        background-color: var(--go-ui-color-background);
        height: 20rem;

        .point {
            position: absolute;
            transform: translate(-50%, -50%);
            opacity: 0.8;
            border-radius: 50%;
            background-color: blue;
            width: 1.4rem;
            height: 1.4rem;

            .hazard-icon {
                color: var(--go-ui-color-white);
                font-size: 1.2rem;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.point-details {
    padding: var(--go-ui-spacing-md);
}
