.dropdown {
    display: flex;
    flex-direction: row;
    padding: var(--go-ui-spacing-md);
    max-width: 64rem;
    min-height: 16rem;
    gap: var(--go-ui-spacing-md);
    overflow: auto;

    .region-list {
        flex-basis: 10rem;
        flex-shrink: 0;

        .region {
            padding: 0;
        }
    }

    .region-border {
        flex-shrink: 0;
        margin: 0;
        border-right: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator)
    }

    .region-detail {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .region-detail-content {
            overflow: auto;

            .country-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
                grid-gap: var(--go-ui-spacing-sm);
                overflow: auto;

                .country-link {
                    font-size: var(--go-ui-font-size-sm);
                }
            }
        }
    }

    @media screen and (max-width: 50rem) {
        flex-direction: column;

        .region-list {
            flex-basis: unset;

            .region-list-content {
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--go-ui-spacing-2xs) var(--go-ui-spacing-md);
            }
        }

        .region-border {
            border-right: unset;
            border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
        }

        .region-detail {
            overflow: unset;
        }
    }
}
