.video-list {
    display: flex;
    gap: var(--go-ui-spacing-md);
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    .video-item {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
        scroll-snap-align: start;

        .iframe {
            border: none;
            /* background-color: var(--go-ui-color-gray-30); */
            width: 20rem;
            height: 10rem;
        }

        .collection-sub-header {
            font-size: var(--go-ui-font-size-sm);
        }
    }
}
