.basic-layout {
    --gap: var(--go-ui-spacing-md);
    --inner-gap: var(--go-ui-spacing-sm);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);

    .icons-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: var(--inner-gap);
    }

    .children-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .actions-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: var(--inner-gap);
    }

    &.no-spacing {
        --gap: 0;
    }

    &.compact-spacing {
        --inner-gap: var(--go-ui-spacing-2xs);
        --gap: var(--go-ui-spacing-xs);
    }

    &.cozy-spacing {
        --inner-gap: var(--go-ui-spacing-xs);
        --gap: var(--go-ui-spacing-sm);
    }

    &.comfortable-spacing {
        --inner-gap: var(--go-ui-spacing-sm);
        --gap: var(--go-ui-spacing-md);
    }

    &.relaxed-spacing {
        --inner-gap: var(--go-ui-spacing-md);
        --gap: var(--go-ui-spacing-lg);
    }

    &.loose-spacing {
        --inner-gap: var(--go-ui-spacing-lg);
        --gap: var(--go-ui-spacing-xl);
    }
}
