.basic-layout {
    display: flex;
    align-items: flex-start;

    &.with-wrap {
        flex-wrap: wrap;
    }

    .icons-container {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
    }

    .children-container {
        display: flex;
        flex-grow: 1;
    }

    .actions-container {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
    }
}
