.key-figure {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-md);
    gap: var(--go-ui-spacing-sm);

    .icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--go-ui-color-primary-red);
        font-size: var(--go-ui-height-key-figure-icon);
    }

    .value {
        font-size: var(--go-ui-font-size-3xl);
        font-weight: var(--go-ui-font-weight-medium);
    }

    &.with-icon {
        .value {
            font-size: var(--go-ui-font-size-4xl);
        }
    }
}
