.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 30px;

    svg {
        padding: 4px;
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .icon-information {
        border-radius: 50%;
        background-color: #4c5d9b;
    }

    .icon-advisory {
        border-radius: 50%;
        background-color: #ffd470;
    }

    .icon-watch {
        border-radius: 50%;
        background-color: #ff9e00;
    }

    .icon-warning {
        border-radius: 50%;
        background-color: #f5333f;
    }

    .storm-information {
        background-color: #4c5d9b;
        width: 40px;
        height: 20px;
    }

    .storm-advisory {
        background-color: #ffd470;
        width: 40px;
        height: 20px;
    }

    .storm-watch {
        background-color: #ff9e00;
        width: 40px;
        height: 20px;
    }

    .storm-warning {
        background-color: #f5333f;
        width: 40px;
        height: 20px;
    }
}
