.operation-card {
    border-radius: var(--go-ui-border-radius-md);
    box-shadow: var(--go-ui-box-shadow-lg);

    .last-updated {
        display: flex;
        color: var(--go-ui-color-text-light);
        gap: var(--go-ui-spacing-sm);
    }

    .figures {
        display: flex;
        flex-grow: 1;
        gap: var(--go-ui-spacing-lg);

        .separator {
            flex-shrink: 0;
            background-color: var(--go-ui-color-separator);
            width: var(--go-ui-width-separator-sm);
        }

        .figure {
            flex-basis: 0;
            flex-grow: 1;
            padding: 0;
        }
    }
}

.tooltip {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-md);
    gap: var(--go-ui-spacing-xs);
}
