.checklist {
    --spacing: var(--go-ui-spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    &.vertical {
        .check-list-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing);
        }
    }

    &.horizontal {
        .check-list-container {
            display: grid;
            grid-gap: var(--go-ui-spacing-lg);
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }
}
