.field-report-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--go-ui-spacing-xl);

    .field-report-subtitle {
        font-weight: var( --go-ui-font-weight-medium);

        .title-link {
            text-decoration: underline;
        }
    }

    .edit-link {
        color: var(--go-ui-color-primary-red);
    }

    .key-figures {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-3xl);
        border-radius: var(--go-ui-border-radius-md);
        box-shadow: var(--go-ui-box-shadow-md);
        padding: var(--go-ui-spacing-3xl);
        width: 100%;

        .key-figure {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-spacing-lg);
            color: var(--go-ui-color-gray-70);
        }

        .field-report-details {
            grid-column: 1 / -1;
            display: grid;
            grid-gap: var(--go-ui-spacing-xl);
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .field-report-value {
                display: flex;
                flex-direction: column;
            }

            .field-report-label {
                color: var(--go-ui-color-black);
                font-size: var(--go-ui-font-size-lg);
            }
        }

        .description-details {
            grid-column: 1 / -1;
            display: grid;
            grid-gap: var(--go-ui-spacing-xl);
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .description-value {
                display: flex;
                flex-direction: column;
                font-size: var(--go-ui-font-size-2xl);
            }

            .description-label {
                color: var(--go-ui-color-black);
                font-size: var(--go-ui-font-size-lg);
                font-weight: var( --go-ui-font-weight-medium);
            }
        }

        .assistance-label {
            color: var(--go-ui-color-black);
            font-size: var(--go-ui-font-size-lg);
        }

        .information {
            color: var(--go-ui-color-black);
            font-size: var(--go-ui-font-size-lg);
        }
    }
}

