.component-input {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-8xl);

    .header {
        flex-wrap: nowrap;
    }

    .stats {
        gap: var(--go-ui-spacing-xl);
        display: flex;
    }
}
