.navigation-tab {
    --border-color: var(--go-ui-color-gray-30);
    --border-width: var(--go-ui-width-separator-thin);

    display: inline-flex;
    align-items: stretch;
    border-radius: 0;
    text-decoration: none;
    color: var(--go-ui-color-black);
    font-weight: var(--go-ui-font-weight-medium);

    .dummy {
        flex-grow: 1;
        border-bottom: var(--border-width) solid var(--border-color);
        width: var(--go-ui-spacing-xs);
    }

    .children-wrapper {
        display: flex;
        align-items: center;
        flex-grow: 1;
        border: var(--border-width) solid transparent;
        text-align: center;
    }

    &.vertical {
        .children-wrapper {
            display: flex;
            gap: var(--go-ui-spacing-md);
            padding: var(--go-ui-spacing-md) 0;
            text-align: left;
        }

        &.active {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }
    }

    &.primary {
        position: relative;
        font-size: var(--go-ui-font-size-lg);

        .children-wrapper {
            border-bottom-color: var(--border-color);
            background-color: var(--go-ui-color-background);
            padding: var(--go-ui-spacing-md) var(--go-ui-spacing-3xl);
        }

        &.active {
            color: var(--go-ui-color-primary-red);

            .children-wrapper {
                border-color: var(--border-color);
                border-bottom-color: transparent;
                background-color: var(--go-ui-color-primary-white);
                padding: var(--go-ui-spacing-md) var(--go-ui-spacing-3xl);
            }
        }

        &:not(.active) {
            .active-border {
                display: none;
            }
        }
    }

    &.secondary {
        padding: 0 var(--go-ui-spacing-sm);

        &.active {
            color: var(--go-ui-color-primary-red);
        }
    }

    &.tertiary {
        &:hover {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }

        &.active {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }
    }

    &.step {
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: var(--go-ui-duration-transition-medium) color, background-color ease-in-out;
        padding: var(--go-ui-spacing-md);
        text-transform: uppercase;
        color: var(--go-ui-color-gray-70);

        .step-circle {
            transition: var(--go-ui-duration-transition-slow) border-color ease-in-out;
            border: var(--border-width) solid transparent;
            border-radius: 50%;
            background-color: var(--go-ui-color-background);
            padding: calc(var(--go-ui-spacing-px)* 4);

            .inner-circle {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: var(--go-ui-duration-transition-slow) background-color ease-in-out;
                border-radius: 50%;
                background-color: var(--go-ui-color-gray-70);
                width: 1rem;
                height: 1rem;

                .icon {
                    padding: 0.1em;
                    color: var(--go-ui-color-white);
                }
            }
        }

        &:hover {
            color: var(--go-ui-color-black);
        }

        &.active {
            color: var(--go-ui-color-primary-red);

            .step-circle {
                border-color: var(--go-ui-color-primary-red);

                .inner-circle {
                    background-color: var(--go-ui-color-primary-red);
                }
            }
        }
    }


    &.disabled {
        pointer-events: none;
        opacity: var(--go-ui-opacity-disabled-element);
    }
}
