@import '~styles/settings/variables';

.custom-activity {
  border-top: 2px solid transparent;
  background-color: $color-background;

  .improvement-select {
    display: flex;
    flex-direction: column;
    width: $global-spacing-table;
  }

  .dot-connector {
    border-left: 1px solid grey;
  }

  .input-section {
    display: flex;
    background-color: $color-background;
    overflow-y: visible;
  }
}

.dot {
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  width: 12px;
  height: 12px;
}
