.region-preparedness {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-4xl);
    padding: var(--go-ui-spacing-4xl) 0;

    .regional-content {
        display: flex;
        min-height: var(--go-ui-spacing-xs);
    }

    .key-figure-content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);

        .key-figure-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--go-ui-spacing-2xl);

            .region-key-figure {
                align-items: center;
                flex-basis: 20rem;
                border-radius: var(--go-ui-border-radius-md);
                box-shadow: var(--go-ui-box-shadow-lg);
                height: 100%;
            }
        }
    }
}
