.popup {
    padding: var(--go-ui-spacing-sm) 0;

    .list {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .list-item {
            flex-shrink: 0;
        }
    }
}

.icon {
    font-size: var(--go-ui-font-size-icon-multiplier);
}
