.popup {
    .list {
        display: flex;
        flex-direction: column;
        max-width: min(90vw, 20rem);
        max-height: min(50vh, 40rem);
        overflow: auto;

        .list-item {
            flex-shrink: 0;
        }
    }
}

.icon {
    font-size: var(--go-ui-font-size-icon-multiplier);
}
