.risk-imminent-events {
    .wiki-icon {
        font-size: var(--go-ui-font-size-3xl);
    }

    .legend {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);

        .legend-item {
            display: flex;
            align-items: center;
            gap: var(--go-ui-spacing-xs);

            .icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: var(--go-ui-font-size-2xl);
                height: var(--go-ui-font-size-2xl);

                .icon {
                    color: var(--go-ui-color-white);
                }

                .wildfire-icon {
                    height: 0.8rem;
                }
            }
        }
    }

    .footer-actions {
        flex-shrink: unset;
        flex-wrap: wrap;
    }
}

.popup {
    .description {
        display: inline;

        .description-content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xs);
        }
    }
}


