.map-detail {
    position: absolute;
    bottom: var(--go-ui-spacing-2xl);
    left: var(--go-ui-spacing-md);
    border: var(--go-ui-width-separator-sm) solid var(--go-ui-color-gray-30);
    border-radius: var(--go-ui-border-radius-md);
    box-shadow: var(--go-ui-box-shadow-md);
    background-color: var(--go-ui-color-white);
    padding: var(--go-ui-spacing-sm);
    width: 18rem;
    overflow: auto;

    .info-container {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);

        .info {
            flex-wrap: nowrap;

            .label {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
            }

            .icon {
                font-size: var(--go-ui-font-size-2xl);
            }
        }

        .email {
            word-break: break-word;
        }
    }
}

.map-container {
    height: 40rem;
}

.footer {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--go-ui-color-background);
    padding: var(--go-ui-spacing-lg);
    gap: var(--go-ui-spacing-md);

    .legend {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);

        .legend-item {
            font-size: var(--go-ui-font-size-md);
        }
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-md);

    .local-unit-info {
        font-size: var(--go-ui-font-size-sm);
    }
}
