.local-units-map {
    .contact-details {
        max-width: 18rem;
    }

    .legend-icon {
        filter: invert(1);
    }

    .icon {
        font-size: 1.33em;
    }
}

.map-popup {
    height: 16rem;
}
