.legend-element {
    display: flex;
    align-items: baseline;
    gap: var(--go-ui-spacing-xs);
    font-size: var(--go-ui-font-size-sm);

    .color {
        flex-shrink: 0;
        border-radius: 0.4em;
        width: 0.8em;
        height: 0.8em;
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: var(--go-ui-font-size-2xl);
        height: var(--go-ui-font-size-2xl);

        .icon {
            color: var(--go-ui-color-white);
        }
    }

    .label {
        font-size: 1em;
    }
}
