.legend-element {
    display: flex;
    align-items: center;
    gap: var(--go-ui-spacing-xs);
    font-size: var(--go-ui-font-size-sm);

    .color {
        flex-shrink: 0;
        border-radius: 0.4em;
        width: 0.8em;
        height: 0.8em;
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: var(--go-ui-spacing-2xs);
        width: 1.2rem;
        height: 1.2rem;

        .icon {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }

    .label {
        font-size: 1em;
    }
}
