.surge-catalogue {
    display: grid;
    grid-gap: var(--go-ui-spacing-2xl);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: var(--go-ui-spacing-4xl) 0;

    @media screen and (max-width: 30rem) {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }

    .tab-list {
        grid-column: 1fr;

        .icon {
            flex-shrink: 0;
            font-size: var(--go-ui-font-size-icon-multiplier);
        }
    }

    .content {
        grid-column: span 2;
    }
}
