.register {
    .main-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);

        .form {
            display: grid;
            grid-gap: var(--go-ui-spacing-lg);
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            background-color: var(--go-ui-color-white);
            width: 100%;
            max-width: var(--go-ui-width-content-max);

            .full-size-input {
                grid-column: 1 / -1;
            }

            .justify-note {
                grid-column: 1 / -1;
                color: var(--go-ui-color-gray-60);
                font-size: var(--go-ui-font-size-sm);
            }

            .non-field-error {
                grid-column: 1 / -1;
            }

            .form-border {
                grid-column: 1 / -1;
                background-color: var(--go-ui-color-separator);
                height: var(--go-ui-width-separator-sm);
            }
        }

        .actions {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);

            .login {
                display: flex;
                gap: var(--go-ui-spacing-xs);
                align-items: center;
            }
        }
    }
}
