.region-profile {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-5xl);
    padding: var(--go-ui-spacing-5xl) 0;

    .key-figures {
        display: flex;
        justify-content: center;

        .key-figure {
            flex-basis: 26rem;
            border-radius: var(--go-ui-border-radius-md);
            box-shadow: var(--go-ui-box-shadow-lg);
        }
    }

    /* TODO: make these styles responsive */
    .additional-links{
        display: grid;
        grid-gap: var(--go-ui-spacing-lg);
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

        @media screen and (max-width: 30rem) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }

    /* TODO: make these styles responsive */
    .contact-list{
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        .spacer {
            grid-column: 1 / -1;
        }
    }
}
