.region-profile {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);
    padding: var(--go-ui-spacing-2xl) 0;

    .key-figures {
        display: flex;
        justify-content: center;

        .key-figure {
            flex-basis: 26rem;
            border-radius: var(--go-ui-border-radius-md);
            box-shadow: var(--go-ui-box-shadow-md);
        }
    }

    /* TODO: make these styles responsive */
    .additional-links{
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

        @media screen and (max-width: 30rem) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }

    .contact-list {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

        .contact {
            display: flex;
            flex-direction: column;
            border-radius: var(--go-ui-border-radius-lg);
            box-shadow: var(--go-ui-box-shadow-sm);
            padding: var(--go-ui-spacing-md);
            gap: var(--go-ui-spacing-md);

            .name {
                font-size: var(--go-ui-font-size-lg);
                font-weight: var(--go-ui-font-weight-semibold);
            }

            .title {
                color: var(--go-ui-color-text-light);
                font-size: var(--go-ui-font-size-sm);
            }
        }
    }
}
