.tab {
    --border-color: var(--go-ui-color-gray-30);
    --border-width: var(--go-ui-width-separator-thin);

    display: inline-flex;
    align-items: stretch;
    border-radius: 0;
    text-decoration: none;
    color: var(--go-ui-color-black);
    font-weight: var(--go-ui-font-weight-medium);

    .dummy {
        flex-grow: 1;
        border-bottom: var(--border-width) solid var(--border-color);
        width: var(--go-ui-spacing-xs);
    }

    .children-wrapper {
        display: flex;
        align-items: center;
        flex-grow: 1;
        border: var(--border-width) solid transparent;
        text-align: center;
    }

    &.vertical-compact,
    &.vertical {
        .children-wrapper {
            display: flex;
            gap: var(--go-ui-spacing-md);
            padding: var(--go-ui-spacing-md) 0;
            text-align: left;
        }

        &.active {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }
    }

    &.vertical-compact {
        .children-wrapper {
            padding: 0;
        }
    }


    &.primary {
        position: relative;
        font-size: var(--go-ui-font-size-lg);

        .children-wrapper {
            border-bottom-color: var(--border-color);
            background-color: var(--go-ui-color-background);
            padding: var(--go-ui-spacing-md) var(--go-ui-spacing-lg);
        }

        &.active {
            color: var(--go-ui-color-primary-red);

            .children-wrapper {
                border-color: var(--border-color);
                border-bottom-color: transparent;
                background-color: var(--go-ui-color-white);
            }
        }

        &:not(.active) {
            .active-border {
                display: none;
            }
        }
    }

    &.step {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
        transition: var(--go-ui-duration-transition-medium) color, background-color ease-in-out;
        padding: var(--go-ui-spacing-md) 0;
        text-transform: uppercase;
        color: var(--go-ui-color-gray-70);

        .visual-elements {
            display: flex;
            align-items: center;
            align-self: stretch;

            .step-circle {
                flex-shrink: 0;
                transition: var(--go-ui-duration-transition-slow) border-color ease-in-out;
                border: var(--border-width) solid transparent;
                border-radius: 50%;
                background-color: var(--go-ui-color-background);
                padding: var(--go-ui-spacing-2xs);

                .inner-circle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: var(--go-ui-duration-transition-slow) background-color ease-in-out;
                    border-radius: 50%;
                    background-color: var(--go-ui-color-gray-60);
                    width: 1rem;
                    height: 1rem;

                    .icon {
                        color: var(--go-ui-color-white);
                        font-size: var(--go-ui-height-icon-multiplier);
                    }
                }
            }

            .progress-bar-end,
            .progress-bar-start {
                flex-grow: 1;
                background-color: var(--go-ui-color-separator);
                height: var(--go-ui-width-separator-thin);;
            }
        }

        /* stylelint-disable-next-line no-descending-specificity */
        .children-wrapper {
            padding: 0 var(--go-ui-spacing-lg);
        }

        &.errored {
            .children-wrapper {
                text-decoration: underline wavy var(--go-ui-color-primary-red);
            }
        }

        &:hover {
            color: var(--go-ui-color-black);
        }

        &.active {
            color: var(--go-ui-color-primary-red);

            .step-circle {
                border-color: var(--go-ui-color-primary-red);

                .inner-circle {
                    background-color: var(--go-ui-color-primary-red);
                }
            }

            .progress-bar-start {
                background-color: var(--go-ui-color-primary-blue);
            }
        }

        &.completed {
            .step-circle {
                .inner-circle {
                    background-color: var(--go-ui-color-primary-blue);
                }
            }
            .progress-bar-end,
            .progress-bar-start {
                background-color: var(--go-ui-color-primary-blue);
            }
        }

        &:first-child {
            .visual-elements {
                .progress-bar-start {
                    background-color: transparent;
                }
            }
        }

        &:last-child {
            .visual-elements {
                .progress-bar-end {
                    background-color: transparent;
                }
            }
        }
    }

    &.secondary {
        border-radius: var(--go-ui-border-radius-full);
        padding: var(--go-ui-spacing-md) var(--go-ui-spacing-xl);

        &.active {
            background-color: var(--go-ui-color-primary-red);
            color: var(--go-ui-color-white);
        }
    }

    &.tertiary {
        &:hover {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }

        &.active {
            text-decoration: underline;
            color: var(--go-ui-color-primary-red);
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: var(--go-ui-opacity-disabled-element);
    }
}
