.container {
    --num-columns: 2;
    --max-width: calc(var(--go-ui-page-width-max) * 0.8);

    display: flex;
    flex-direction: column;

    .header {
        flex-shrink: 0;

        .centered-header-description-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .centered-description {
                max-width: var(--go-ui-page-header-description-width-max);
                text-align: center;
            }
        }
    }

    &.with-border-and-header-background {
        border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
        border-radius: var(--go-ui-border-radius-md);

        .header {
            border-radius: var(--go-ui-border-radius-md);
            background-color: var(--go-ui-color-background);
        }
    }

    .border {
        flex-shrink: 0;
        margin: 0;
        border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
    }

    .content {
        flex-grow: 1;

        &.pending-overlaid {
            isolation: isolate;
            position: relative;
            min-height: 6rem;

            .message {
                z-index: 1;
            }
        }
    }

    .footer {
        flex-shrink: 0;
    }

    &.with-grid-view {
        >.content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(var(--max-width) / var(--num-columns)), 1fr));

            .message {
                grid-column: 1 / -1;
            }
        }

        &.two-columns {
            /* TODO: adjust minmax for 2 columns */
            --num-columns: 2;

            @media screen and (max-width: 55rem) {
                --max-width: 60rem;
            }

            @media screen and (max-width: 30rem) {
                >.content {
                    grid-template-columns: 1fr;
                }
            }
        }

        &.three-columns {
            --num-columns: 3;

            @media screen and (max-width: 55rem) {
                --max-width: 60rem;
            }

            @media screen and (max-width: 30rem) {
                >.content {
                    grid-template-columns: 1fr;
                }
            }
        }

        &.four-columns {
            --num-columns: 4;
        }

        &.five-columns {
            --num-columns: 5;
        }
    }

    &.with-vertical-view {
        >.content {
            display: flex;
            flex-direction: column;
        }
    }

    &.with-overflow-in-content {
        >.content {
            overflow: auto;
        }
    }
}
