.container {
    --spacing: var(--go-ui-spacing-lg);
    --padding: 0;
    --num-columns: 2;
    --max-width: calc(var(--go-ui-page-width-max) * 0.8);

    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .header {
        flex-shrink: 0;
    }

    .border {
        flex-shrink: 0;
        margin: 0;
        border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator)
    }

    .filter {
        &.with-grid-view-in-filter {
            display: grid;
            grid-gap: var(--spacing);
            grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        }
    }

    .content {
        flex-grow: 1;
    }

    .footer {
        flex-shrink: 0;
    }

    &.with-grid-view {
        .content {
            display: grid;
            grid-gap: var(--spacing);
            grid-template-columns: repeat(auto-fill, minmax(calc(var(--max-width) / var(--num-columns)), 1fr));
        }

        &.two-columns {
            /* TODO: adjust minmax for 2 columns */
            --num-columns: 2;

            @media screen and (max-width: 55rem) {
                --max-width: 60rem;
            }
        }

        &.three-columns {
            --num-columns: 3;

            @media screen and (max-width: 55rem) {
                --max-width: 60rem;
            }
        }

        &.four-columns {
            --num-columns: 4;
        }

        &.five-columns {
            --num-columns: 5;
        }
    }

    &.with-vertical-view {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--spacing);
        }
    }

    &:not(.with-internal-padding) {
        --padding: 0;
    }

    &.with-internal-padding {
        --padding: var(--spacing);
        padding: var(--padding) 0;

        .header {
            padding: 0 var(--padding);
        }

        .content {
            padding: 0 var(--padding);
        }

        .filter {
            padding: 0 var(--padding);
        }

        .footer {
            padding: 0 var(--padding);
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.condensed-spacing {
        --spacing: var(--go-ui-spacing-2xs);
    }

    &.compact-spacing {
        --spacing: var(--go-ui-spacing-xs);
    }

    &.cozy-spacing {
        --spacing: var(--go-ui-spacing-sm);
    }

    &.default-spacing {
        --spacing: var(--go-ui-spacing-md);
    }

    &.comfortable-spacing {
        --spacing: var(--go-ui-spacing-lg);
    }

    &.relaxed-spacing {
        --spacing: var(--go-ui-spacing-xl);
    }

    &.loose-spacing {
        --spacing: var(--go-ui-spacing-2xl);
    }
}
