.container {
    --spacing: var(--go-ui-spacing-lg);
    --padding: 0;

    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .header {
        flex-shrink: 0;
    }

    .border {
        flex-shrink: 0;
        margin: 0;
        background-color: var(--go-ui-color-separator);
        height: var(--go-ui-width-separator-thin);
    }

    .content {
        flex-grow: 1;
    }

    .footer {
        flex-shrink: 0;
    }

    &:not(.with-internal-padding) {
        --padding: 0;
    }

    &.with-internal-padding {
        --padding: var(--spacing);
        padding: var(--padding) 0;

        .header {
            padding: 0 var(--padding);
        }

        .content {
            padding: 0 var(--padding);
        }

        .filter {
            padding: 0 var(--padding);
        }

        .footer {
            padding: 0 var(--padding);
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--go-ui-spacing-sm);
    }

    &.cozy-spacing {
        --spacing: var(--go-ui-spacing-md);
    }

    &.comfortable-spacing {
        --spacing: var(--go-ui-spacing-lg);
    }

    &.relaxed-spacing {
        --spacing: var(--go-ui-spacing-xl);
    }

    &.loose-spacing {
        --spacing: var(--go-ui-spacing-2xl);
    }
}
