.bar-chart {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-md);

    .bar-row {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-md);

        .label {
            width: 30%;
            font-weight: var(--go-ui-font-weight-medium);
        }

        .bar-track {
            width: 60%;
            background-color: var(--go-ui-color-gray-30);
            height: 0.6rem;
            border-radius: 0.3rem;

            .bar {
                height: 100%;
                background-color: var(--go-ui-color-primary-red);
                border-radius: 0.3rem;
            }

        }

        .value {
            width: 10%;
            font-weight: var(--go-ui-font-weight-medium);
        }
    }
}
