.intro {
    .tagline {
        color: var(--go-ui-color-primary-red);
        font-weight: var(--go-ui-font-weight-medium);
    }

    .step-number {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--go-ui-color-primary-red);
        width: 1.5rem;
        height: 1.5rem;
        color: var(--go-ui-color-white);
        font-size: var(--go-ui-font-size-sm);
        font-weight: var(--go-ui-font-weight-semibold);
    }
}
