.full-eap-form {
    .actions {
        display: flex;

        .page-actions {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            gap: var(--go-ui-spacing-md);
        }
    }
}
