.emergencies {
    .key-figure-list {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

        .key-figure {
            border-radius: var(--go-ui-border-radius-lg);
            background-color: var(--go-ui-color-white);
            height: 100%;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);

        .charts {
            display: grid;
            grid-gap: var(--go-ui-spacing-md);
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }

            .emergencies-by-type {
                border-radius: var(--go-ui-border-radius-lg);
                box-shadow: var(--go-ui-box-shadow-md);
            }

            .emergencies-over-last-year {
                border-radius: var(--go-ui-border-radius-lg);
                box-shadow: var(--go-ui-box-shadow-md);

                .time-series-chart {
                    width: 100%;
                    height: 10rem;

                    .events-chart {
                        color: var(--go-ui-color-primary-red);
                        stroke: var(--go-ui-color-primary-red);
                        stroke-width: 1pt;
                        fill: none;
                    }
                }
            }
        }
    }

    .table-footer {
        display: flex;
        flex-direction: column;

        .region-list {
            display: flex;
            gap: var(--go-ui-spacing-xs);
        }
    }
}
