.account-three-w-forms {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);
    min-height: 30vh;

    .project-table,
    .activity-table {
        width: 100%;

        .country {
            min-width: 8rem;
        }

        .ns {
            min-width: 10rem;
        }

        .title {
            min-width: 8rem;
        }

        .primary-sector {
            min-width: 8rem;
        }

        .budget {
            min-width: 7rem;
        }

        .programme-type {
            min-width: 7rem;
        }

        .disaster-type {
            min-width: 7rem;
        }

        .start-date {
            width: 0%;
            min-width: 7rem;
        }

        .status {
            width: 0%;
            min-width: 7rem;
        }

        .people-reached {
            width: 0%;
            min-width: 8rem;
        }

        .actions {
            width: 0%;
            min-width: 2rem;
        }
    }
}
