.dummy {
    padding: var(--go-ui-spacing-sm);
}

.selection-container {
    display: flex;
    align-items: center;
    gap: var(--go-ui-spacing-md);

    .input {
        flex-basis: 0;
        flex-grow: 1;
    }

    .add-button {
        flex-shrink: 0;
    }
}
