.eru-owners-table {
    .content {
        padding: var(--go-ui-spacing-md) 0;
    }

    .checklist {
        display: contents;

        .checklist-container {
            display: contents;
        }
    }
}
