.flash-update-details {
    .page-description {
        display: flex;
        gap: var(--go-ui-spacing-sm);
    }

    .report-details {
        box-shadow: var(--go-ui-box-shadow-md);

        .content-header {
            padding: var(--go-ui-spacing-lg);
        }

        .maps {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-box-shadow-md);
            padding: var(--go-ui-box-shadow-md);

            .map-item {
                flex-basis: 33%;
                border: var(--go-ui-color-black) solid var(--go-ui-width-separator-thin);
                border-radius: var(--go-ui-border-radius-md);

                .image {
                    background-color: var(--go-ui-color-gray-20);
                    width: 100%;
                    height: 20rem;
                    object-fit: contain;
                    object-position: center center;
                }

                .caption {
                    padding:var(--go-ui-spacing-md);
                }
            }
        }

        .graphics {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-spacing-md);
            padding: var(--go-ui-spacing-md);

            .graphic-item {
                flex-basis: 33%;
                border: var(--go-ui-color-gray-90) solid var(--go-ui-width-separator-thin);
                border-radius: var(--go-ui-border-radius-md);

                .image {
                    background-color: var(--go-ui-color-gray-20);
                    width: 100%;
                    height: 20rem;
                    object-fit: contain;
                    object-position: center center;
                }

                .caption {
                    padding:var(--go-ui-spacing-md);
                }
            }
        }

        .actions-taken {
            display: flex;
            flex-direction: column;
            gap:var(--go-ui-spacing-md);
            padding: var(--go-ui-spacing-md);

            .title {
                color: var(--go-ui-color-primary-gray);
                font-size: var(--go-ui-font-size-sm);
            }

            .summary {
                .text {
                    white-space: pre-wrap;
                }
            }

            .action-taken-content {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-md);
                padding: var(--go-ui-spacing-lg);

                .actions {
                    display: flex;
                    flex-direction: column;
                    padding: var(--go-ui-spacing-md) 0;
                    gap: var(--go-ui-spacing-md);

                    .action {
                        font-weight: var(--go-ui-font-weight-medium);
                    }
                }
            }
        }

        .reference {
            display: flex;
            align-items: center;
            padding: var(--go-ui-spacing-md);
            gap: var(--go-ui-spacing-md);

            .date {
                flex-basis: 10rem;
                flex-shrink: 0;
            }

            .description {
                flex-grow: 1;
            }

            .url {
                flex-basis: 20rem;
                word-break: break-all;
            }

            .download-link {
                flex-basis: 12rem;
                flex-shrink: 0;
            }

            .not-download-link {
                flex-basis: 12rem;
                flex-shrink: 0;
            }
        }

        .container-with-shadow {
            box-shadow: var(--go-ui-box-shadow-md);
        }

        .header-with-background {
            background-color: var(--go-ui-color-gray-10);
            padding: var(--go-ui-spacing-lg);
        }
    }
}
