.custom-activity {
  border-top: var(--go-ui-width-separator-md) solid transparent;
  background-color: var(--go-ui-color-background);

  .improvement-select {
    display: flex;
    flex-direction: column;
    width: var(--go-ui-spacing-md);
  }

  .dot-connector {
    border-left: var(--go-ui-width-separator-sm) solid var(--go-ui-color-gray-10);
  }

  .input-section {
    display: flex;
    background-color: var(--go-ui-color-background);
    overflow-y: visible;

    .question-content {
      display: flex;
      padding-right: 20%;
      gap: $global-spacing-3;

      .note-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .answers {
        display: flex;
        gap: $global-spacing-2;
      }
    }
  }
}

.dot {
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  width: 12px;
  height: 12px;
}