.public-country-preparedness {
    padding: var(--go-ui-spacing-xl) 0;
    min-height: 40vh;

    .actions-container {
        display: flex;
        align-items: center;

        .per-action {
            display: flex;
            gap: var(--go-ui-spacing-md);
            align-items: center;
        }
    }

    .back-icon {
        font-size: var(--go-ui-font-size-3xl);
    }
    .preparedness-content {
        display: grid;
        grid-gap: var(--go-ui-spacing-2xl);
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        padding: var(--go-ui-spacing-lg) 0;

        @media screen and (max-width: 40rem) {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        }

        .pending-message {
            grid-column: 1 / -1;
        }

        .per-overview-details {
            display: grid;
            grid-column: 1 / -1;
            grid-gap: var(--go-ui-spacing-md);
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

            .contact-container {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                grid-column: 1 / -1;
                grid-row-end: span 4;
            }

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        }

        .top-rated-component-content {
            display: grid;
            flex-grow: 0;
            grid-gap: var(--go-ui-spacing-md);
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

            @media screen and (max-width: 20rem) {
                grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            }

            .top-rated-component {
                border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
            }
        }

        .priority-components-content {
            .heading {
                border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
                padding: var(--go-ui-spacing-sm);
            }
        }

        .limited-access {
            grid-column: 1 / -1;
        }
    }
}
