.dref-final-report-export {
    --pdf-element-bg: var(--go-ui-color-gray-20);
    --pdf-font-body: OpenSans, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --pdf-font-heading: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --pdf-color-heading: #011E41;

    display: flex;
    flex-direction: column;
    font-family: var(--pdf-font-body);
    font-size: var(--go-ui-font-size-sm);
    gap: var(--go-ui-spacing-2xl);

    h1 {
        font-family: var(--pdf-font-heading);
        font-weight: var(--go-ui-font-weight-bold);
    }
    h2 {
        color: var(--pdf-color-heading);
    }
    h1, h3 {
        color: var(--go-ui-color-primary-red);
        font-family: var(--pdf-font-heading);
        font-weight: var(--go-ui-font-weight-bold);
    }
    h2, h4, h5, h6 {
        font-family: var(--pdf-font-heading);
        font-weight: var(--go-ui-font-weight-bold);
    }

    .text-output {
        >* {
            background-color: var(--go-ui-color-gray-20);
            padding: var(--go-ui-spacing-xs);
        }
    }

    @media screen {
        margin: var(--go-ui-spacing-2xl) auto;
        background-color: var(--go-ui-color-foreground);
        padding: var(--go-ui-spacing-xl);
        width: 210mm;
        min-height: 297mm;
    }

    .caption {
        background-color: var(--go-ui-color-gray-20);
        padding: var(--go-ui-spacing-2xs);
        text-align: left;
        font-weight: var(--go-ui-font-weight-semibold);
    }

    .page-title-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: right;

        .main-heading {
            text-transform: uppercase;
        }

        .ifrc-logo {
            width: 6rem;
            height: 6rem;
        }

        .dref-content-title {
            color: #011e41;
            font-family: var(--pdf-font-heading);
            font-size: var(--go-ui-font-size-lg);
            font-weight: var(--go-ui-font-weight-bold);
        }
    }

    .meta-section {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: repeat(12, 1fr);

        .meta-item {
            grid-column: span 3;
            display: flex;
            flex-direction: column;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-xs);
            break-inside: avoid;
        }

        .yellow {
            color: #ffc000;
        }

        .red {
            color: #f40d11;
        }

        .orange {
            color: #ed7d31;
        }
        .people-targeted {
            display: flex;
            flex-direction: column;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            grid-column: span 6;
            break-inside: avoid;
        }

        .targeted-areas {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            grid-column: span 12;
            break-inside: avoid;
        }
    }

    .main-donor-text {
        font-style: italic;
    }

    .event-description-section {
        break-before: page;

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .dref-images {
                display: flex;
                flex-wrap: wrap;
                gap: var(--go-ui-spacing-xl);

                >* {
                    flex-basis: calc(50% - var(--go-ui-spacing-xl) / 2);
                }
            }
        }
    }

    .ns-actions-section,
    .other-actions-section,
    .movement-partners-actions-section {
        .content {
            display: grid;
            grid-gap: var(--go-ui-width-separator-md);
            grid-template-columns: 1fr 2fr;
        }
    }

    .icrc-actions-section {
        .content {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-lg);
        }
    }

    .needs-identified-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .icon {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .targeting-strategy-section,
    .operational-strategy-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);
        }
    }

    .target-population-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-width-separator-md);

            .total-targeted-population-value {
                flex-grow: 1;
                color: var(--go-ui-color-primary-red);
            }

            .top {
                display: flex;
                gap: var(--go-ui-width-separator-md);

                .left {
                    display: grid;
                    flex-basis: 60%;
                    flex-shrink: 0;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: var(--go-ui-width-separator-md);

                    .label {
                        grid-column: span 2;
                    }
                }

                .right {
                    display: grid;
                    flex-grow: 1;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 2fr 2fr 1fr;
                    grid-gap: var(--go-ui-width-separator-md);

                    .text-output {
                        display: flex;
                        flex-direction: column;
                        gap: var(--go-ui-width-separator-md);
                    }

                    .large {
                        grid-row: 2 span;
                        grid-column: span 2;
                    }
                }
            }
        }
    }

    .risk-and-security-considerations-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .risk-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: var(--go-ui-width-separator-md);

                .risk,
                .mitigation {
                    background-color: var(--pdf-element-bg);
                    padding: var(--go-ui-spacing-xs);
                    break-inside: avoid;
                }

                .risk-title,
                .mitigation-title {
                    background-color: var(--pdf-element-bg);
                    padding: var(--go-ui-spacing-xs);
                    font-weight: var(--go-ui-font-weight-semibold);
                    break-inside: avoid;
                }
            }
        }
    }

    .implementation-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-lg);

            .planned-intervention {
                background-color: var(--pdf-element-bg);

                .heading {
                    color: var(--pdf-color-heading);
                }

                .meta-details {
                    display: grid;
                    width: 50%;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: var(--go-ui-spacing-2xs);

                    .text-output {
                        >* {
                            background-color: var(--go-ui-color-element-background);
                        }
                    }
                }

                .icon {
                    width: 2rem;
                    height: 2rem;
                }

                .planned-intervention-content {
                    display: flex;
                    flex-direction: column;
                    gap: var(--go-ui-spacing-lg);

                    .indicators-content {
                        display: grid;
                        grid-template-columns: 4fr 2fr 2fr;
                        grid-gap: var(--go-ui-width-separator-sm);

                        .title-label,
                        .target-label,
                        .actual-label {
                            background-color: var(--go-ui-color-element-background);
                            padding: var(--go-ui-spacing-sm);
                            font-weight: var(--go-ui-font-weight-semibold);
                        }

                        .title,
                        .target,
                        .actual {
                            background-color: var(--go-ui-color-element-background);
                            padding: var(--go-ui-spacing-sm);
                        }
                    }
                }
            }
        }
    }

    .financial-overview-section {
        break-before: page;

        .download-icon {
            font-size: 2rem;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .preview {
                width: 100%;
                height: 220mm;
                object-fit: contain;
                object-position: top center;
            }
        }
    }

    .contact-information-section {
        break-before: page;

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xs);

            .contact-person-label {
                color: var(--go-ui-color-primary-red);
            }
        }
    }
}

