.national-society-income-over-time {
    .chart-container {
        height: 24rem;

        .yearly-income {
            color: var(--go-ui-color-primary-red);
        }

        .line {
            stroke: currentColor;
            stroke-width: 2pt;
            fill: none;
        }
    }
}
