.operation {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);

    .icon {
        font-size: var(--go-ui-height-icon-multiplier);
    }

    .intervention-selection-container {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-md);

        .input {
            flex-basis: 0;
            flex-grow: 1;
        }

        .remove-button {
            flex-shrink: 0;
        }
    }

    .urban-to-rural {
        .inputs {
            display: flex;
            gap: var(--go-ui-spacing-xs);
        }
    }

    .warning {
        display: flex;
        align-items: flex-start;
        gap: var(--go-ui-spacing-sm);
        color: var(--go-ui-color-warning);
        font-weight: var(--go-ui-font-weight-semibold);
    }
}
