.all-appeals {
    .table {
        .start-date {
            width: 0%;
            min-width: 9rem;
        }

        .appeal-type {
            width: 0%;
        }

        .code {
            width: 0%;
        }

        .funding {
            min-width: 10rem;
        }
    }
}
