.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: var(--go-ui-spacing-xs);
    box-shadow: var(--go-ui-box-shadow-2xl);
    background: var(--go-ui-color-white);
    padding: var(--go-ui-spacing-sm) 0;
    min-width: 15rem;
    overflow: auto;
}
