.ongoing-eru-deployments {
    .organisation {
        min-width: 10em;
    }

    .timeline {
        min-width: 15rem;
    }

    .sub-cell {
        border-bottom: unset;
        background-color: var(--go-ui-color-gray-20);
    }

    .legend {
        display: flex;
        gap: var(--go-ui-spacing-md);
        padding: var(--go-ui-spacing-sm) var(--go-ui-spacing-md);
    }
}
