.per-prioritization-form {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-3xl);

    .component-list {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xl);
    }
}

.sort-by-dropdown-content {
    .checkmark {
        opacity: 0;
        font-size: var(--go-ui-font-size-icon-multiplier);

        &.active {
            opacity: 1;
        }
    }
}
