.per-prioritization-form {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-xl);
    color: inherit;

    .component-list {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
    }

    .actions {
        display: flex;
        justify-content: center;
        padding: var(--go-ui-spacing-lg);
    }
}
