.component-input {
    .question-list {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);
    }

    .heading {
        flex-grow: 1;
    }

    .status-selection-container {
        display: flex;

        .status-selection {
            width: 20rem;
        }
    }

    .description {
        padding: 0 0 0 var(--go-ui-spacing-md);
    }
}

.non-expandable-component-input {
    border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
    background-color: var(--go-ui-color-foreground);
}
