.presence {
    .presence-card {
        border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
        border-radius:  var(--go-ui-border-radius-lg);
        box-shadow: var(--go-ui-box-shadow-md);

        .content {
            display: flex;
            justify-content: space-between;

            .delegation-information {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-md);

                .delegation {
                    display: flex;
                    flex-direction: column;

                    .location {
                        display: flex;
                        word-wrap: break-word;
                    }
                }
            }

            .ifrc-presence-item {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-xs);
                flex-shrink: 0;
            }

            @media screen and (max-width: 50rem) {
                flex-direction: column;
                gap: var(--go-ui-spacing-md);
            }
        }

        .icrc-presence-item {
            display: flex;
            gap: var(--go-ui-spacing-xs);
        }
    }
    .ifrc-disclaimer {
        display: flex;
        gap: var(--go-ui-spacing-xs);
    }
}
