.country-ns-capacity-strengthening {

    .empty-message {
        grid-column: -1 / 1;
    }

    .capacity-list-container {
        display: grid;
        grid-gap: var(--go-ui-spacing-lg);
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }
}
