.trigger-status {
    .status-icon {
        font-size: var(--go-ui-height-icon-multiplier);

        &.exceeded {
            color: var(--go-ui-color-primary-red);
        }
    }

    .return-period {
        color: var(--go-ui-color-text-light);
        font-size: var(--go-ui-font-size-sm);
    }
}
