# Rename this file to .env to use it.

# App title so it's easy to identify your build
APP_TITLE="DEV GO"

# Can be development, staging, production, etc. See env.ts for options.
# Note: If you set this to production for local testing/demos,
# you can avoid the banner at the bottom of the screen.
APP_ENVIRONMENT=development

# Go translation API endpoint
APP_TRANSLATION_API_ENDPOINT=https://some-url---fill-this-in.com/api/

# GO backend
# For non-Montandon data: DREF, reports, stats, etc.
APP_API_ENDPOINT=http://localhost:8000/

# API Keys (used in app)
APP_MAPBOX_ACCESS_TOKEN=__fake__key____
APP_TINY_API_KEY=__fake__key____

# API Keys (used for build)
FONTAWESOME_API_KEY=__fake__key____

# Montandon
# Must be an external url
APP_RISK_API_ENDPOINT=https://some-url---fill-this-in.com/api/

# NRW standalone mode
APP_NRW_STANDALONE=false
