# Rename this file to .env to use it.

# App title so it's easy to identify your build
APP_TITLE="DEV GO"

# Can be development, staging, production, etc. See env.ts for options.
APP_ENVIRONMENT=development

# GO backend
# For non-Montandon data: DREF, reports, stats, etc.
APP_API_ENDPOINT=http://localhost:8000/api/ # this is a guess. We can't run it yet

# API Keys
APP_MAPBOX_ACCESS_TOKEN=__fake__key____
APP_TINY_API_KEY=__fake__key____
APP_MAPTILER_API_KEY="7b02PI5MailPcMoXxEql" # (free tier) test account key

# Montandon (I think)
# Must be an external url
APP_RISK_API_ENDPOINT=https://secret.wow.yes.com/api/

# IBF API backend
APP_IBF_API_BACKEND=http://localhost:8001/api/

# IBF Map Servers
APP_MAP_PG_TILESERV=http://localhost:7800/
APP_MAP_PG_FEATURESERV=http://localhost:9000/

# IBF Raster image directory (for dev only)
# This is located in app/public/APP_RASTER_IMAGE_DIR/
APP_RASTER_IMAGE_DIR=/debug_raster/
