.tooltip-dummy {
    opacity: 0;
    width: 0;
    height: 0;
}

.tooltip-content {
    position: fixed;
    opacity: 0;
    border-radius: var(--go-ui-border-radius-xl);
    box-shadow: var(--go-ui-box-shadow-2xl);
    background-color: var(--go-ui-color-white);
    max-height: 50vh;
    overflow: auto;
    animation: slide-down var(--go-ui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--go-ui-duration-transition-fast);
}

@keyframes slide-down {
    from {
        transform: translateY(-5pt);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
