.tooltip-dummy {
    opacity: 0;
    width: 0;
    height: 0;
}

.tooltip-content {
    opacity: 0;
    padding: 0;
    animation: slide-down var(--go-ui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--go-ui-duration-transition-fast);
}

.pointer {
    opacity: 0;
    animation: fade-in var(--go-ui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--go-ui-duration-transition-medium);
}

@keyframes slide-down {
    from {
        transform: translateY(-5pt);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
