.account-dref-applications {
    padding: var(--go-ui-spacing-lg) 0;

    .dref-feedback-form {
        display: flex;
        justify-content: center;
        padding: var(--go-ui-spacing-md) 0;
    }

    .icon {
        font-size: var(--go-ui-height-icon-multiplier);
    }
}
