.dref-operational-update-form {
    .tab-list {
        flex-grow: 1;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);

        .actions {
            display: flex;

            .page-actions {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                gap: var(--go-ui-spacing-md);
            }
        }
    }

    .icon {
        font-size: var(--go-ui-height-icon-multiplier);
    }

    .warnings {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xs);

        .warning {
            display: flex;
            align-items: flex-start;
            gap: var(--go-ui-spacing-sm);
            color: var(--go-ui-color-warning);
            font-weight: var(--go-ui-font-weight-semibold);
        }
    }
}
