.country-ns-capacity-strengthening {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);
    padding: var(--go-ui-spacing-2xl) 0;

    .empty-message {
        grid-column: -1 / 1;
    }

    .capacity-list-container {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }
}
