.dot {
    display: inline-block;
    border-radius: var(--go-ui-border-radius-full);
    background-color: var(--go-ui-color-gray-10);
    width: var(--go-ui-width-separator-dense);
    height: var(--go-ui-width-separator-dense);
}

.dot-connector {
    border-left: var(--go-ui-width-separator-sm) solid var(--go-ui-color-gray-10);
}