.block-text-output {
    display: contents;

    .label,
    .value {
        background-color: var(--go-ui-color-gray-20);
        padding: var(--go-ui-spacing-xs);
        break-inside: avoid;
    }
}

