.page-header {
    .container {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);

        .header {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .heading {
                text-align: center;
            }

            .description {
                max-width: var(--go-ui-page-header-description-width-max);
                text-align: center;
            }
        }
    }
}
