.dref-application-export {
    --pdf-element-bg: var(--go-ui-color-background);

    font-family: 'Open Sans', sans-serif;
    font-size: var(--go-ui-font-size-export);

    @media screen {
        margin: var(--go-ui-spacing-xl) auto;
        background-color: var(--go-ui-color-foreground);
        padding: var(--go-ui-export-page-margin);
        width: 210mm;
        min-height: 297mm;
    }

    .page-break {
        break-before: page;
    }

    .page-title-section {
        display: flex;
        justify-content: space-between;
        text-align: right;

        .ifrc-logo {
            width: 6rem;
            height: 6rem;
        }

        .dref-content-title {
            color: var(--go-ui-color-primary-blue);
            font-size: var(--go-ui-font-size-lg);
            font-weight: var(--go-ui-font-weight-bold);
        }
    }

    .meta-section {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .meta-item {
            display: flex;
            flex-direction: column;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            break-inside: avoid;

            .yellow {
                color: var(--go-ui-color-yellow);
            }

            .red {
                color: var(--go-ui-color-red);
            }

            .orange {
                color: var(--go-ui-color-orange);
            }
        }
        .meta-actions-item {
            display: flex;
            flex-direction: column;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-xs);
            break-inside: avoid;
        }

        .budget {
            display: flex;
            flex-direction: column;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            grid-column: span 2;
            break-inside: avoid;
        }

        .targeted-areas {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            grid-column: span 4;
            break-inside: avoid;
        }
    }

    .event-images {
        display: grid;
        grid-gap: var(--go-ui-spacing-sm);
        grid-template-columns: repeat(auto-fit, minmax(50mm, 1fr));
    }

    .previous-operations-content {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 1fr 1fr;

        .recurrent-event-justification,
        .child-safeguarding-risk-level,
        .lessons-learned {
            grid-column: span 2;
            background-color: var(--pdf-element-bg);

            padding: var(--go-ui-spacing-sm);
            gap: var(--go-ui-spacing-sm);
        }
    }

    .other-actions-content,
    .movement-partners-actions-content,
    .ns-actions-content {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 1fr 2fr;
    }

    .icrc-actions-content {
        background-color: var(--pdf-element-bg);
        padding: var(--go-ui-spacing-xs);
    }

    .other-actions-major-coordination-mechanism {
        grid-column: span 2;
        background-color: var(--pdf-element-bg);
        padding: var(--go-ui-spacing-xs);
        gap: var(--go-ui-spacing-xs);
    }

    .needs-identified-heading {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-sm);

        .icon {
            width: 3rem;
            height: 3rem;
        }
    }

    .needs-identified-description {
        margin-bottom: var(--go-ui-spacing-lg);
    }

    .target-population-content {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 2fr 1fr 2fr 1fr;
        page-break-inside: avoid;

        .disabilities-population {
            grid-column: span 2;
            padding: var(--go-ui-spacing-xs);
        }

        .empty-block {
            grid-column: span 2;
            background-color: var(--pdf-element-bg);
        }

        .total-targeted-population-value {
            color: var(--go-ui-color-primary-red);
            grid-column: span 3;
        }
    }

    .risk-and-security-section,
    .source-information-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--go-ui-width-separator-md);

        .potential-risks-heading {
            grid-column: span 2;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm) var(--go-ui-spacing-xs);
            color: var(--go-ui-color-black);
            font-weight: var(--go-ui-font-weight-semibold);
        }

        .risk-security-concern {
            grid-column: span 2;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm) var(--go-ui-spacing-xs);
            gap: var(--go-ui-spacing-sm);
        }

        .risk,
        .name,
        .link,
        .mitigation {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-xs);
        }

        .name-list {
            display: flex;
            gap: var(--go-ui-spacing-sm);
        }

        .risk-title,
        .name-title,
        .link-title,
        .mitigation-title {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-xs);
            font-weight: var(--go-ui-font-weight-bold);
        }
    }

    .planned-intervention-heading {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-sm);

        .icon {
            width: 3rem;
            height: 3rem;
        }
    }

    .planned-intervention-indicators {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-gap: var(--go-ui-width-separator-sm);

        .title-label,
        .target-label {
            background-color: var(--go-ui-color-element-background);
            padding: var(--go-ui-spacing-sm);
            font-weight: var(--go-ui-font-weight-semibold);
        }

        .title,
        .target {
            background-color: var(--go-ui-color-element-background);
            padding: var(--go-ui-spacing-sm);
        }
    }

    .budget-file-preview {
        height: 240mm;
        object-fit: contain;
        object-position: top center;
        max-height: unset;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xs);

        .contact-person-label {
            color: var(--go-ui-color-primary-red);
        }
    }

    .bank-details {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 1fr 1fr;
        page-break-inside: avoid;
    }

    .proposed-actions {
        display: grid;
        grid-gap: var(--go-ui-width-separator-md);
        grid-template-columns: 4fr 5fr 5fr 4fr;
        page-break-inside: avoid;

        .action-title-label {
            background-color: var(--go-ui-color-element-background);
            padding: var(--go-ui-spacing-sm);
            font-weight: var(--go-ui-font-weight-semibold);
        }

        .proposed-action {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);

            .icon {
                height: 3rem;
            }

            .title {
                font-size: var(--go-ui-font-size-md);
                font-weight: var(--go-ui-font-weight-semibold);
            }
        }

        .sector,
        .activity,
        .budget {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            break-inside: avoid;
        }

        .activity {
            white-space: pre-wrap;
        }

        .budget {
            display: flex;
            align-items: center;
        }

        .cost-label {
            grid-column: span 3;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            break-inside: avoid;
            text-align: right;
            font-weight: var(--go-ui-font-weight-semibold);
        }

        .cost-value {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-sm);
            break-inside: avoid;
        }
    }
}
