.go-single-file-input {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--go-ui-spacing-sm);

    .empty-message {
        color: var(--go-ui-color-gray-50);
    }
}
