.responsiveContainer {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
  
.chartWrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Style for tooltip value */
:global(.chartjs-tooltip-value) {
    font-weight: bold;
}
