.per-assessment-summary {
    .content {
        display: grid;
        grid-gap: var(--go-ui-spacing-2xl);
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

        .total-progress {
            .answer-counts {
                display: flex;
                gap: var(--go-ui-spacing-lg);
            }
        }

        .component-rating {
            grid-column: auto / span 2;
        }

        .avg-component-rating {
            display: flex;
            gap: var(--go-ui-spacing-sm);

            .area-rating {
                display: flex;
                flex-direction: column;

                .bar-container {
                    display: flex;
                    align-items: flex-end;
                    background-color: var(--go-ui-color-separator);
                    height: 3rem;

                    .filled-bar {
                        background-color: var(--go-ui-color-primary-blue);
                        width: 100%;
                    }
                }
            }
        }
    }
}
