.stacked-bar-chart {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-xs);

    .bar-info-container {
        display: flex;

        .bar-info {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: var(--go-ui-spacing-2xs);

            .value {
                font-weight: var(--go-ui-font-weight-semibold);
            }

            .percentage {
                font-size: var(--go-ui-font-size-sm);
            }
        }
    }

    .track {
        --height: 1rem;
        display: flex;
        border-radius: calc(0.5 * var(--height));
        background-color: var(--go-ui-color-gray-50);
        height: var(--height);
        overflow: hidden;

        .bar {
            height: 100%;
        }
    }

    .label-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-md);

        .label-container {
            display: flex;
            align-items: baseline;
            gap: var(--go-ui-spacing-2xs);

            .color-dot {
                flex-shrink: 0;
                border-radius: 0.3rem;
                width: 0.6rem;
                height: 0.6rem;
            }

            .label {
                padding: 0 var(--go-ui-spacing-xs);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: var(--go-ui-font-size-sm);
            }
        }
    }
}
