.page-container {
    .content {
        margin: 0 auto;
        padding: var(--go-ui-spacing-lg);
        width: 100%;

        @media screen {
            max-width: var(--go-ui-page-width-max);
        }
    }
}
