.local-unit-validate-button {
    .icon {
        font-size: 1.33em;
    }
}

.local-unit-validated-button {
    border: none;
    background-color: var(--go-ui-color-gray-40);

    .icon {
        font-size: 1.33em;
    }
}
