.possible-early-action-table {
    .filters {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    .table {
        .cell {
            font-size: var(--go-ui-font-size-sm);
        }
    }
}
