.previous-assessment-chart {
    height: 20rem;

    .path {
        stroke: var(--go-ui-color-dark-blue-30);
        fill: none;
        pointer-events: none;
    }

    .text {
        font-size: var(--go-ui-font-size-sm);
        pointer-events: none;
    }

    .circle {
        color: var(--go-ui-color-dark-blue-30);
        pointer-events: none;
    }
}
