.previous-assessment-chart {
    height: 20rem;

    .svg {
        width: 100%;
        height: 100%;

        .path {
            stroke: var(--go-ui-color-primary-red);
            fill: none;
            pointer-events: none;
        }

        .text {
            font-size: var(--go-ui-font-size-sm);
            pointer-events: none;
        }

        .circle {
            color: var(--go-ui-color-primary-red);
            pointer-events: none;
        }
    }
}
