.previous-assessment-chart {
    height: 20rem;

    .path {
        stroke: #236192;
        fill: none;
        pointer-events: none;
    }

    .text {
        font-size: var(--go-ui-font-size-sm);
        pointer-events: none;
    }

    .circle {
        color: #236192;
        pointer-events: none;
    }
}
