.alert {
    display: flex;
    border-radius: var(--go-ui-border-radius-md);
    box-shadow: var(--go-ui-box-shadow-2xl);
    width: calc(14rem + 16vw);
    color: var(--go-ui-color-white);

    .icon {
        font-size: var(--go-ui-font-size-2xl);
    }

    .close-icon {
        font-size: var(--go-ui-font-size-2xl);
    }

    &.info {
        background-color: var(--go-ui-color-gray-80);
    }

    &.success {
        background-color: var(--go-ui-color-positive);
    }

    &.danger {
        background-color: var(--go-ui-color-negative);
    }

    &.warning {
        background-color: var(--go-ui-color-warning);
    }
}
