.option-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .group-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: var(--go-ui-font-weight-bold);
    }

    .group-children {
        display: flex;
        flex-direction: column;
    }
}
