.operational-learning {
    .beta-tag {
        font-size: var(--go-ui-font-size-sm);
    }

    .main-section {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xl);

        .selected-filters {
            display: flex;
            padding: var(--go-ui-spacing-sm) 0;
            gap: var(--go-ui-spacing-sm);

            .options {
                display: flex;
                flex-wrap: wrap;
                gap: var(--go-ui-spacing-sm);
            }
        }

        .summary-heading {
            gap: var(--go-ui-spacing-xl);
        }

        .summary-list {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);
        }

        .action-buttons {
            display: flex;
            align-items: flex-end;
            gap: var(--go-ui-spacing-sm);
        }

        .footer {
            display: flex;
            justify-content: space-between;
        }

        .filter-chips {
            width: 100%;
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            width: 100%;

            .action-buttons {
                align-self: flex-end;
            }
        }
    }

    .old-dashboard-info {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: var(--go-ui-color-text-light);
        gap: var(--go-ui-spacing-xs);

        .info-text {
            display: inline;
            font-size: var(--go-ui-font-size-sm);
            font-style: italic;
        }
    }

    .key-figure-card-list {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

        @media screen and (max-width: 30rem) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }

        .key-figure-card {
            display: flex;
            gap: var(--go-ui-spacing-md);
            border-radius: var(--go-ui-border-radius-lg);
            box-shadow: var(--go-ui-box-shadow-md);
            background-color: var(--go-ui-color-white);
            padding: var(--go-ui-spacing-md);

            .separator {
                flex-shrink: 0;
                border-left: var(--go-ui-width-separator-sm) solid var(--go-ui-color-separator);
            }

            .key-figure {
                flex-basis: 0;
                flex-grow: 1;
                padding: 0;

                .key-figure-description {
                    font-size: var(--go-ui-font-size-sm);
                }
            }
        }
    }
}


