.mainSection {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-xl);

    .selected-filters {
        display: flex;
        padding: var(--go-ui-spacing-sm) 0;
        gap: var(--go-ui-spacing-sm);

        .options {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-spacing-sm);
        }
    }

    .summary-heading {
        gap: var(--go-ui-spacing-xl);
    }

    .summary-list {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
    }

    .action-buttons {
        display: flex;
        align-items: flex-end;
        gap: var(--go-ui-spacing-sm);
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    .footer-content {
        display: flex;
        flex-grow: 0;
        justify-content: flex-end;
    }
}


