.eap-form-links {
    .table {
        .status {
            width: 0%;
            min-width: 19rem;
        }
        .sub-cell {
            border-bottom: unset;
            background-color: var(--go-ui-color-gray-20);
        }
    }
}