.question-output {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-sm);

    .question-row {
        display: flex;
        gap: var(--go-ui-spacing-sm);
        padding: var(--go-ui-spacing-sm);

        .numbering {
            flex-shrink: 0;
            min-width: 1.5rem;
        }

        .question {
            flex-grow: 1;
        }

        .answer {
            flex-shrink: 0;
            width: 3rem;
        }
    }

    .notes {
        color: var(--go-ui-color-text-light);
    }

    &:nth-child(odd) {
        background-color: var(--go-ui-color-background);
    }
}
