.popup {
    padding: var(--go-ui-spacing-sm);

    .dropdown-container-buttons {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xs);

        .clear-button {
            align-self: end;
        }

        .clear-all-separator {
            border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .list-item {
            flex-shrink: 0;
        }
    }

    .info-message {
        padding: var(--go-ui-spacing-sm);
        text-align: center;
        color: var(--go-ui-color-text-light);
    }
}

.icon {
    font-size: var(--go-ui-height-icon-multiplier);
}
