.account-my-forms-field-report {
    .table {
        .created-at {
            width: 0%;
            min-width: 9rem;
        }

        .disaster-type,
        .countries {
            min-width: 9rem;
        }

        .event,
        .summary {
            min-width: 11rem;
        }
    }
}
