.navigation-tab-list {
    display: flex;
    position: relative;

    &.primary {
        overflow-x: auto;

        .content {
            display: flex;
        }

        .start-dummy-content,
        .end-dummy-content {
            align-self: flex-end;
            flex-grow: 1;
            border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
        }
    }

    &.secondary {
        display: flex;
        overflow-x: auto;

        .content {
            display: flex;
            border-radius: var(--go-ui-border-radius-full);
            background-color: var(--go-ui-color-element-background);
        }

        .start-dummy-content,
        .end-dummy-content {
            flex-grow: 1;
        }
    }

    &.tertiary {
        justify-content: flex-start;
        width: fit-content;
        overflow-x: auto;

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: fit-content;
            overflow-x: auto;
            gap: var(--go-ui-spacing-sm) var(--go-ui-spacing-md);
        }

        .start-dummy-content,
        .end-dummy-content {
            display: none;
        }
    }

    &.step {
        overflow-x: auto;

        .content {
            display: flex;
        }

        .start-dummy-content,
        .end-dummy-content {
            align-self: flex-end;
            flex-grow: 1;
        }
    }

    &.vertical {
        .content {
            display: flex;
            flex-direction: column;
        }

        .start-dummy-content,
        .end-dummy-content {
            display: none;
        }
    }
}
