.operational-container {
    aspect-ratio: 3 / 7;

    .operational-iframe {
        border: none;
        /* background-color: var(--go-ui-color-gray-30); */
        width: 100%;
        height: 100%;
    }
}
