.heading {
    --font-size: var(--go-ui-font-size-xl);

    margin: 0 0 var(--go-ui-spacing-sm) 0;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size);
    font-weight: var(--go-ui-font-weight-bold);
    page-break-after: avoid;

    &.level-one {
        --font-size: var(--go-ui-font-size-4xl);
        color: var(--go-ui-color-primary-red);
    }

    &.level-two {
        --font-size: var(--go-ui-font-size-3xl);
        color: var(--go-ui-color-primary-blue);
    }

    &.level-three {
        --font-size: var(--go-ui-font-size-xl);
        color: var(--go-ui-color-primary-red);
    }

    &.level-four {
        --font-size: var(--go-ui-font-size-lg);
    }

    &.level-five {
        --font-size: var(--go-ui-font-size-md);
    }

    &.level-six {
        --font-size: var(--go-ui-font-size-sm);
    }
}

