.header-cell {
    display: flex;
    align-items: center;
    color: var(--go-ui-color-text-black);
    font-weight: var(--go-ui-font-weight-medium);
    gap: var(--go-ui-spacing-sm);

    .sort-button {
        flex-shrink: 0;
    }

    .icon {
        font-size: var(--go-ui-font-size-icon-multiplier);
    }
}
