.key-insights {
    background-color: var(--go-ui-color-background);

    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .footer-icons-text {
            color: var(--go-ui-color-text-light);
        }

        .report-issue {
            flex-shrink: 0;
            color: var(--go-ui-color-negative);
        }
    }

    .insights {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: var(--go-ui-spacing-md);
    }
}
