.grid {
    --num-columns: 2;
    --max-width: calc(var(--go-ui-page-width-max) * 0.8);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--max-width) / var(--num-columns)), 1fr));
    position: relative;
    min-height: var(--go-ui-content-min-height);

    .message {
        grid-column: -1 / 1;
    }

    &.compact {
        min-height: unset;

        &.pending {
            min-height: var(--go-ui-compact-content-min-height);
        }
    }

    &.two-columns {
        /* TODO: adjust minmax for 2 columns */
        --num-columns: 2;

        @media screen and (max-width: 55rem) {
            --max-width: 60rem;
        }
    }

    &.three-columns {
        --num-columns: 3;

        @media screen and (max-width: 55rem) {
            --max-width: 60rem;
        }
    }

    &.four-columns {
        --num-columns: 4;
    }

    &.five-columns {
        --num-columns: 5;
    }
}
