.top-banner {
    --variant-color: var(--go-ui-color-background);
    background-color: color-mix(in srgb, var(--variant-color) 10%, transparent);
    padding: var(--go-ui-spacing-md);
    text-align: center;
    font-weight: var(--go-ui-font-weight-medium);

    &.negative {
        --variant-color: var(--go-ui-color-negative);
    }

    &.warning {
        --variant-color: var(--go-ui-color-warning);
    }

    &.positive {
        --variant-color: var(--go-ui-color-positive);
    }

    &.information {
        --variant-color: var(--go-ui-color-information);
    }
}

