.region-operations {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);
    padding: var(--go-ui-spacing-2xl) 0;
}

.presentation-mode {
    background-color: var(--go-ui-color-background);
    padding: var(--go-ui-spacing-2xl);
    width: 96vw;

    .key-figure-list {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    }
}
