.activity-list {
    .action-content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-sm);

        .activity-details {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-3xs);
        }

        .supply-content {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
    }
}
