.header {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-sm);

    .heading-section {
        display: flex;

        .heading-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &.heading-ellipsized {
        .heading-section {
            overflow: auto;

            .heading-container {
                overflow: auto;

                .heading {
                    width: 100%;

                    .overflow-wrapper {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
