.header {
    --spacing: var(--go-ui-spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .heading-section {
        display: flex;
        gap: var(--spacing);

        .heading-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing);
        }
    }

    &.heading-ellipsized {
        .heading-section {
            overflow: auto;

            .heading-container {
                overflow: auto;

                .heading {
                    width: 100%;

                    .overflow-wrapper {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--go-ui-spacing-xs);
    }

    &.cozy-spacing {
        --spacing: var(--go-ui-spacing-sm);
    }

    &.comfortable-spacing {
        --spacing: var(--go-ui-spacing-md);
    }

    &.relaxed-spacing {
        --spacing: var(--go-ui-spacing-lg);
    }

    &.loose-spacing {
        --spacing: var(--go-ui-spacing-xl);
    }
}
