.navbar {
    border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
    background-color: var(--go-ui-color-white);

    .top {
        border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-primary-red);

        .top-content {
            display: flex;
            align-items: center;
            gap: var(--go-ui-spacing-md) var(--go-ui-spacing-lg);
            flex-wrap: wrap;
            padding: var(--go-ui-spacing-md) var(--go-ui-spacing-lg);

            .brand {
                display: flex;
                align-items: top;
                flex-grow: 1;
                flex-wrap: wrap;
                gap: var(--go-ui-spacing-sm);

                .go-icon {
                    height: var(--go-ui-height-brand-icon);
                }

                .env {
                    align-self: flex-start;
                    border-radius: var(--go-ui-border-radius-full);
                    background-color: var(--go-ui-color-primary-blue);
                    padding: 0 var(--go-ui-spacing-xs);
                    color: var(--go-ui-color-white);
                    font-size: var(--go-ui-font-size-xs);
                    font-weight: var(--go-ui-font-weight-semibold);
                }
            }

            .actions {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                /* gap: var(--go-ui-spacing-xl); */

                .action-item {
                    font-weight: var(--go-ui-font-weight-medium);
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-sm) var(--go-ui-spacing-lg);
        padding: var(--go-ui-spacing-md) var(--go-ui-spacing-lg);

        .menu-items {
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-wrap: wrap;
            font-weight: var(--go-ui-font-weight-medium);
        }

        .search-container {
            flex-basis: 30rem;
            flex-grow: 0.5;
        }
    }

    @media print {
        display: none;
    }
}
