.dref-application-export {
    --pdf-element-bg: var(--go-ui-color-gray-20);
    --pdf-font-body: OpenSans, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --pdf-font-heading: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --pdf-color-heading: #011E41;

    display: flex;
    flex-direction: column;
    font-family: var(--pdf-font-body);
    font-size: var(--go-ui-font-size-sm);
    gap: var(--go-ui-spacing-2xl);

    h1 {
        font-family: var(--pdf-font-heading);
        font-weight: var(--go-ui-font-weight-bold);
    }
    h2 {
        color: var(--pdf-color-heading);
    }
    h1, h3 {
        color: var(--go-ui-color-primary-red);
        font-family: var(--pdf-font-heading);
        font-weight: var(--go-ui-font-weight-bold);
    }
    h2, h4, h5, h6 {
        font-family: var(--pdf-font-heading);
        font-weight: var(--go-ui-font-weight-bold);
    }

    .text-output {
        >* {
            background-color: var(--go-ui-color-gray-20);
            padding: var(--go-ui-spacing-xs);
        }
    }

    .image {
        max-height: 140mm;
    }

    .small-image {
        max-height: 70mm;
    }

    .caption {
        background-color: var(--go-ui-color-gray-20);
        padding: var(--go-ui-spacing-2xs);
        text-align: left;
        font-weight: var(--go-ui-font-weight-semibold);
    }

    .yellow {
        color: #ffc000;
    }

    .red {
        color: #f40d11;
    }

    .orange {
        color: #ed7d31;
    }

    @media screen {
        margin: var(--go-ui-spacing-2xl) auto;
        background-color: var(--go-ui-color-foreground);
        padding: var(--go-ui-spacing-xl);
        width: 210mm;
        min-height: 297mm;
    }

    .page-title-section {
        display: flex;
        justify-content: space-between;
        text-align: right;

        .main-heading {
            display: block;
            text-transform: uppercase;
            color: var(--go-ui-color-primary-red);
        }

        .ifrc-logo {
            width: 6rem;
            height: 6rem;
        }

        .dref-content-title {
            color: var(--go-ui-color-primary-red);
            font-family: var(--pdf-font-heading);
            font-size: var(--go-ui-font-size-lg);
            font-weight: var(--go-ui-font-weight-bold);
        }
    }

    .image-section {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-lg);

        .meta-section {
            display: grid;
            grid-gap: var(--go-ui-width-separator-md);
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .meta-item {
                display: flex;
                flex-direction: column;
                background-color: var(--pdf-element-bg);
                padding: var(--go-ui-spacing-sm);
                break-inside: avoid;
            }

            .budget {
                display: flex;
                flex-direction: column;
                background-color: var(--pdf-element-bg);
                padding: var(--go-ui-spacing-sm);
                grid-column: span 2;
                break-inside: avoid;
            }

            .targeted-areas {
                background-color: var(--pdf-element-bg);
                padding: var(--go-ui-spacing-sm);
                grid-column: span 4;
                break-inside: avoid;
            }
        }
    }

    .event-description-section {
        break-before: page;

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);
        }
    }

    .previous-operation-section {
        .content {
            display: grid;
            grid-gap: var(--go-ui-width-separator-md);
            grid-template-columns: 1fr 1fr;
        }

        .lessons-learned {
            grid-column: span 2;
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-lg);
            gap: var(--go-ui-spacing-lg);
        }
    }

    .other-actions-section,
    .movement-partners-actions-section,
    .ns-actions-section {
        .content {
            display: grid;
            grid-gap: var(--go-ui-width-separator-md);
            grid-template-columns: 1fr 2fr;
        }
    }

    .icrc-actions-section {
        .content {
            background-color: var(--pdf-element-bg);
            padding: var(--go-ui-spacing-lg);
        }
    }

    .needs-identified-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .heading-section {
                align-items: center;

                .icon {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }

    .targeting-strategy-section,
    .operational-strategy-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);
        }
    }

    .target-population-section {
        .content {
            display: grid;
            grid-gap: var(--go-ui-width-separator-md);
            grid-template-columns: 2fr 1fr 1fr 1fr;

            .left {
                display: grid;
                grid-gap: var(--go-ui-width-separator-md);
                grid-template-columns: 2fr 1fr;
                grid-column: span 2;
            }
            .right {
                display: grid;
                grid-gap: var(--go-ui-width-separator-md);
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-column: span 2;

                .disabilities {
                    >* {
                        grid-row: 2 span;
                    }
                }
            }
            .total-targeted-population-value {
                grid-column: span 3;
                color: var(--go-ui-color-primary-red);
            }

            .total-targeted-population-label {
                grid-column: span 1;
            }
        }
    }

    .risk-and-security-considerations-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xl);

            .risk-heading {
                background-color: var(--go-ui-color-gray-20);
                padding: var(--go-ui-spacing-xs);
                color: var(--go-ui-color-primary-red);
            }

            .risk-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: var(--go-ui-width-separator-md);

                .risk,
                .mitigation {
                    background-color: var(--pdf-element-bg);
                    padding: var(--go-ui-spacing-xs);
                    break-inside: avoid;
                }

                .risk-title,
                .mitigation-title {
                    background-color: var(--pdf-element-bg);
                    padding: var(--go-ui-spacing-xs);
                    font-weight: var(--go-ui-font-weight-semibold);
                    break-inside: avoid;
                }
            }

            .description {
                background-color: var(--go-ui-color-gray-20);
                padding: var(--go-ui-spacing-xs);
            }
        }
    }

    .planned-intervention-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-lg);

            .planned-intervention {
                background-color: var(--pdf-element-bg);

                .intervention-heading {
                    color: var(--pdf-color-heading);
                }

                .meta-details {
                    display: grid;
                    width: 50%;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: var(--go-ui-spacing-2xs);

                    .text-output {
                        >* {
                            background-color: var(--go-ui-color-element-background);
                        }
                    }
                }

                .heading-section {
                    align-items: center;

                    .icon {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                .planned-intervention-content {
                    display: flex;
                    flex-direction: column;
                    gap: var(--go-ui-spacing-lg);

                    .indicators-content {
                        display: grid;
                        grid-template-columns: 5fr 3fr;
                        grid-gap: var(--go-ui-width-separator-sm);

                        .title-label,
                        .target-label {
                            background-color: var(--go-ui-color-element-background);
                            padding: var(--go-ui-spacing-sm);
                            font-weight: var(--go-ui-font-weight-semibold);
                        }

                        .title,
                        .target {
                            background-color: var(--go-ui-color-element-background);
                            padding: var(--go-ui-spacing-sm);
                        }
                    }
                }
            }
        }
    }

    .about-support-services-section {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-2xl);
        }
    }

    .budget-overview-section {
        break-before: page;

        .download-icon {
            font-size: 2rem;
        }

        .content {
            .budget-file-preview {
                width: 100%;
                height: 220mm;
                object-fit: contain;
                object-position: top center;
            }
        }
    }

    .contact-information-section {
        break-before: page;

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-xs);

            .contact-person-label {
                color: var(--go-ui-color-primary-red);
            }
        }
    }
}

