.page-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        border-top: var(--go-ui-width-separator-large) solid var(--go-ui-color-primary-red);
        border-radius: var(--go-ui-border-radius-xl);
        box-shadow: var(--go-ui-box-shadow-2xl);
        background-color: var(--go-ui-color-white);
        padding: var(--go-ui-spacing-2xl);
        width: calc(100% - var(--go-ui-spacing-2xl));
        max-width: 60rem;
        max-height: 60rem;
        gap: var(--go-ui-spacing-2xl);

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);

            .heading {
                margin: 0;
                font-weight: var(--go-ui-font-weight-medium);
            }

            .stack {
                flex-grow: 1;
                background-color: var(--go-ui-color-background);
                padding: var(--go-ui-spacing-md);
                width: 100%;
                overflow: auto;
                white-space: pre;
                font-family: var(--go-ui-font-family-mono);
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: var(--go-ui-spacing-md);
        }
    }
}
