.country-preparedness {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-4xl) 0;
    gap: var(--go-ui-spacing-4xl);

    .latest-per-details {
        display: grid;
        grid-gap: var(--go-ui-spacing-xl);
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

        @media screen and (max-width: 30rem) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }
}
