.input-section {
    display: grid;
    grid-gap: var(--go-ui-spacing-md);
    grid-template-columns: 1fr 2fr;
    background-color: var(--go-ui-color-white);

    .header {
        .heading-container {
            .heading {
                flex-grow: unset;
            }
        }
    }

    @media screen and (max-width: 60rem) {
        grid-template-columns: 1fr;
    }

    &.with-compact-title-section {
        grid-template-columns: 1fr 3fr;
    }

    &.with-padding {
        padding: var(--go-ui-spacing-lg);
    }

    .asterisk {
        color: var(--go-ui-color-primary-red);
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xs);
    }

    .content-section {
        display: grid;
        grid-gap: var(--go-ui-spacing-sm);
        align-items: start;

        &.one-column {
            grid-template-columns: 1fr;
        }

        &.two-column {
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            }
        }

        &.three-column {
            grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        }

        &.four-column {
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        }
    }

    &.without-title-section {
        grid-template-columns: 1fr;

        .content-section {
            &.two-column {
                grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));

                @media screen and (max-width: 70rem) {
                    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                }

                @media screen and (max-width: 30rem) {
                    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
                }
            }

            &.three-column {
                grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

                @media screen and (max-width: 30rem) {
                    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
                }
            }
        }
    }

}
