.three-w-project-detail {
    .modified-on-value {
        display: flex;
        gap: var(--go-ui-spacing-xs);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);

        .project-details {
            display: grid;
            grid-gap: var(--go-ui-spacing-lg);
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        }

        .yearly-disaggregated-people-list {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-lg);
        }
    }
}
