.row {
    .cell {
        padding: var(--go-ui-spacing-md);
        overflow: hidden;
    }

    &:hover {
        .cell {
            background-color: var(--go-ui-color-background-hover);
        }
    }
}
