.country-plan {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-4xl);
    padding: var(--go-ui-spacing-3xl) var(--go-ui-spacing-md);

    .header {
        .heading-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .heading {
                flex-grow: unset;
            }
        }
    }

    .download-links {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
    }

    .stats {
        display: flex;
        justify-content: center;
        gap: var(--go-ui-spacing-md);

        .separator {
            align-self: stretch;
            flex-basis: var(--go-ui-spacing-px);
            flex-grow: 0;
            flex-shrink: 0;
            margin: var(--go-ui-spacing-md);
            background-color: var(--go-ui-color-gray-30);
        }
    }

    .tables-section {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-2xl);

        .strategic-priority-table {
            flex-grow: 1;
        }

        .coordination-table {
            flex-grow: 1;
        }
    }

    .errored,
    .no-plan {
        display: flex;
        justify-content: center;
        color: var(--go-ui-color-gray-60);
        font-size: var(--go-ui-font-size-md);
    }
}
