.edit-account-info {
    .content {
        display: grid;
        grid-gap: var(--go-ui-spacing-xl);
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        background-color: var(--go-ui-color-white);

        .email-input {
            grid-column: 1 / -1;

        }

        .non-field-error {
            grid-column: 1 / -1;
        }
    }
}
