.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: var(--go-ui-spacing-lg);

    svg {
        padding: var(--go-ui-spacing-xs);
        width: 24px;
        height: 24px;
        color: #fff;
    }

    .icon-red {
        border-radius: 50%;
        background-color: var(--go-ui-color-red-90);
    }

    .icon-orange {
        border-radius: 50%;
        background-color: var(--go-ui-color-orange);
    }

    .icon-green {
        border-radius: 50%;
        background-color: var(--go-ui-color-green);
    }

    .storm-red {
        background-color: var(--go-ui-color-red-90);
        width: 40px;
        height: 20px;
    }

    .storm-orange {
        background-color: var(--go-ui-color-orange);
        width: 40px;
        height: 20px;
    }

    .storm-green {
        background-color: var(--go-ui-color-green);
        width: 40px;
        height: 20px;
    }
}
