.local-units-form {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-lg);

    .address-input {
        display: grid;
        gap: var(--go-ui-spacing-sm);
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }

    .point-input-map {
        background-color: var(--go-ui-color-background);
        height: 32rem;
    }

}

.diff-container {
    .input-section {
        /* NOTE: normal override not possible without force */
        background-color: var(--go-ui-color-semantic-yellow) !important;
    }
}

/* NOTE: this element is portaled */
.actions {
    display: flex;
    gap: var(--go-ui-spacing-md);
    align-self: end;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.toggle-view-changes {
    align-self: end;
}

/* NOTE: this element is portaled */
.header-description {
    display: flex;
    flex-wrap: wrap;
    gap: var(--go-ui-spacing-md);

    .last-update-label {
        color: var(--go-ui-color-text-light);
        font-size: var(--go-ui-font-size-sm);
    }
}

