.timeline-chart {
    width: 30rem;
    --path-stroke-width: 1pt;

    .sales {
        stroke: var(--go-ui-color-primary-red);
        stroke-width: var(--path-stroke-width);
        fill: none;
        color: var(--go-ui-color-primary-red);
    }

    .expenses {
        stroke: var(--go-ui-color-primary-blue);
        stroke-width: var(--path-stroke-width);
        fill: none;
        color: var(--go-ui-color-primary-blue);
    }

    .profit {
        stroke: var(--go-ui-color-orange);
        stroke-width: var(--path-stroke-width);
        fill: none;
        stroke: var(--go-ui-color-orange);
    }
}

.list-story {
    width: 30rem;
}

.grid-story {
    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        padding: var(--go-ui-spacing-sm);
        border-radius: var(--go-ui-border-radius-md);
        box-shadow: var(--go-ui-box-shadow-md);
    }
}

.dropdown-option {
    margin-left: var(--go-ui-spacing-md);
}

.title > p {
    font-size: var(--go-ui-font-size-4xl);
    padding-bottom: var(--go-ui-spacing-2xl);
    color: var(--go-ui-color-primary-red);
}

.ifrc-logo {
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: var(--go-ui-spacing-2xl);
}

.overview > p {
    padding-top: var(--go-ui-spacing-md);
    padding-bottom: var(--go-ui-spacing-md);
    font-size: var(--go-ui-font-size-3xl);
}

.text-body > p {
    font-size: var(--go-ui-font-size-lg);
}

.bar-chart {
    width: 30rem;
}
