.timeline-chart {
    width: 30rem;
    --path-stroke-width: 1pt;

    .sales {
        stroke: var(--go-ui-color-primary-red);
        stroke-width: var(--path-stroke-width);
        fill: none;
        color: var(--go-ui-color-primary-red);
    }

    .expenses {
        stroke: var(--go-ui-color-primary-blue);
        stroke-width: var(--path-stroke-width);
        fill: none;
        color: var(--go-ui-color-primary-blue);
    }

    .profit {
        stroke: var(--go-ui-color-orange);
        stroke-width: var(--path-stroke-width);
        fill: none;
        stroke: var(--go-ui-color-orange);
    }
}

.list-story {
    width: 30rem;
}

.grid-story {
    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        padding: var(--go-ui-spacing-sm);
        border-radius: var(--go-ui-border-radius-md);
        box-shadow: var(--go-ui-box-shadow-md);
    }
}
