.country-ns-overview-context-and-structure {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xl);

    .ns-directory-and-contacts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        align-items: start;
        grid-gap: var(--go-ui-spacing-lg);


        .directory {
            grid-column: auto / span 1;
            max-height: 30rem;

            @media screen and (max-width: 60rem) {
                grid-column: 1 / -1;
            }
        }

        .contacts {
            grid-column: auto / span 2;
        }
    }

    .key-links-content {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-lg);
    }
}
