.list {
    position: relative;
    min-height: var(--go-ui-content-min-height);

    &.compact {
        min-height: unset;

        &.pending {
            min-height: var(--go-ui-compact-content-min-height);
        }
    }
}
