.appeals-table {
    .filters {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

        .clear-button {
            display: flex;
            align-items: center;
        }
    }

    .table {
        .start-date {
            width: 0%;
            min-width: 9rem;
        }

        .appeal-type {
            width: 0%;
        }

        .code {
            width: 0%;
        }
    }
}
