.emergency-response-type-card {
    border-radius: var(--go-ui-border-radius-lg);
    box-shadow: var(--go-ui-box-shadow-md);

    .last-updated {
        color: var(--go-ui-color-text-light);
    }


    .content {
        display: flex;
        flex-grow: 1;
    }

    .readiness-content {
        display: flex;
        flex-grow: 1;
        padding-top: var(--go-ui-spacing-sm);
        gap: var(--go-ui-spacing-md);

        .readiness {
            align-items: center;
            flex: 1 0 0;
            flex-wrap: nowrap;

            .icon {
                display: flex;
                align-items: center;
                color: var(--go-ui-color-primary-gray);
                font-size: var(--go-ui-height-compact-status-icon);
            }
        }
    }
}

.modal {
    max-height: 90vh;

    .content {
        display: flex;
        overflow: auto;
        gap: var(--go-ui-spacing-xl);

        .readiness-container {
            display: flex;
            border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
            padding-bottom: var(--go-ui-spacing-sm);
            gap: var(--go-ui-spacing-sm);

            .readiness {
                align-items: center;
                flex: 1 0 0;
                flex-wrap: nowrap;

                .icon {
                    display: flex;
                    align-items: center;
                    color: var(--go-ui-color-primary-gray);
                    font-size: var(--go-ui-height-compact-status-icon);
                }
            }
        }
    }
}

.separator-left {
    flex-shrink: 0;
    border-left: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
}
