.emergency-response-type-card {
    border-radius: var(--go-ui-border-radius-lg);
    box-shadow: var(--go-ui-box-shadow-md);

    .last-updated {
        color: var(--go-ui-color-text-light);
    }


    .content {
        display: flex;
        flex-grow: 1;
    }

    .readiness-content {
        display: flex;
        flex-grow: 1;
        padding-top: var(--go-ui-spacing-sm);
        gap: var(--go-ui-spacing-md);

        .readiness {
            flex: 1 0 0;
            flex-direction: column-reverse;

            .icon {
                color: var(--go-ui-color-primary-gray);
                font-size: var(--go-ui-height-compact-status-icon);
            }
        }
    }
}

.modal {
    max-height: 90vh;

    .content {
        overflow: auto;

        .readiness-container {
            display: flex;
            border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
            padding-bottom: var(--go-ui-spacing-md);
            gap: var(--go-ui-spacing-md);

            .readiness {
                flex: 1 0 0;
                flex-direction: column-reverse;

                .icon {
                    color: var(--go-ui-color-primary-gray);
                    font-size: var(--go-ui-height-compact-status-icon);
                }
            }
        }
    }
}

.separator-left {
    flex-shrink: 0;
    border-left: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
}

.green-icon {
    color: var(--go-ui-color-green);
}

.yellow-icon {
    color: var(--go-ui-color-semantic-yellow);
}

.red-icon {
    color: var(--go-ui-color-primary-red);
}

.gray-icon {
    color: var(--go-ui-color-primary-gray);
}
