.emergency-response-unit-owner-card {
    border-radius: var(--go-ui-border-radius-md);
    box-shadow: var(--go-ui-box-shadow-lg);

    .last-updated {
        color: var(--go-ui-color-text-light);
    }

    .figures {
        display: flex;
        gap: var(--go-ui-spacing-lg);
        flex-grow: 1;

        .separator {
            flex-shrink: 0;
            background-color: var(--go-ui-color-separator);
            width: var(--go-ui-width-separator-sm);
        }

        .figure {
            flex-basis: 50%;

            .content {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-md);
            }
        }
    }
}
