.surge-operational-toolbox {
    padding: var(--go-ui-spacing-2xl) 0;

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xl);
    }

    .expandable-container-content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
    }

}

:global {
    .operational-toolbox-svg-pointer-event {
        cursor: pointer;
    }
}
