.four-hundred-four {
    .main-section-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--go-ui-spacing-2xl);

        .top-section {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            gap: var(--go-ui-spacing-xs);

            .four-hundred-four-heading {
                width: 16rem;

                .image {
                    width: 100%;
                }
            }

            .heading {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: var(--go-ui-spacing-md);
            }

            .description {
                text-align: center;
                font-size: var(--go-ui-font-size-xl);
                font-weight: var(--go-ui-font-weight-medium);
            }
        }

        .bottom-section {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: var(--go-ui-spacing-xs);
        }
    }
    .background-layer{
        position: absolute;
        top: 0;
        opacity: 0.1;
    }
}
