.severity-indicator {
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
    overflow: hidden;

    .icon {
        border-radius: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;

        &.yellow {
            background-color: var(--go-ui-color-yellow);
        }

        &.red {
            background-color: var(--go-ui-color-red);
        }

        &.orange {
            background-color: var(--go-ui-color-orange);
        }
    }
}
