.operation-card {
    border-radius: var(--go-ui-border-radius-lg);
    box-shadow: var(--go-ui-box-shadow-md);
    width: 100%;
    overflow: auto;

    .heading-container {
        width: 100%;
        overflow: auto;
    }

    .heading {
        width: 100%;
        overflow: auto;
    }

    .severity-indicator {
        font-size: var(--go-ui-font-size-xl);
    }

    .last-updated {
        color: var(--go-ui-color-text-light);
    }

    .figures {
        display: flex;
        flex-grow: 1;
        gap: var(--go-ui-spacing-lg);

        .separator {
            flex-shrink: 0;
            background-color: var(--go-ui-color-separator);
            width: var(--go-ui-width-separator-sm);
        }

        .figure {
            flex-basis: 0;
            flex-grow: 1;
            padding: 0;
        }
    }
}
