.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .page-header {
        background-color: var(--go-ui-color-background);
    }

    .main-section-container {
        flex-grow: 1;
        background-color: var(--go-ui-color-white);

        &.with-background-color {
            background-color: var(--go-ui-color-background);
        }

        .main-section {
            padding: var(--go-ui-spacing-2xl) var(--go-ui-spacing-lg);
        }
    }
}
