.eru-owners-table {
    .content {
        display: grid;
        grid-gap: var(--go-ui-spacing-2xl);
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        padding: var(--go-ui-spacing-4xl) 0;

        @media screen and (max-width: 30rem) {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }

        .filter-container {
            grid-column: span 1;
            align-self: start;
        }

        .eru-owners-list {
            grid-column: span 2;
            display: grid;
            align-self: start;
            grid-gap: var(--go-ui-spacing-2xl);
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

            @media screen and (max-width: 30rem) {
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        }
    }
}
