.eru-owners-table {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-lg);

        .checklist-container {
            display: grid;
            grid-gap: var(--go-ui-spacing-sm) var(--go-ui-spacing-2xl);
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
    }
}
