.dropdown-menu {
    align-items: center;

    >* {
        pointer-events: none;
    }

    .dropdown-icon {
        margin-inline-start: -0.3em;
        font-size: var(--go-ui-height-icon-multiplier);
    }
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-2xs);

    &:not(.without-padding) {
        padding: var(--go-ui-spacing-sm) 0;
    }
}
