.input-section {
    display: flex;
    background-color: $color-background;
    overflow-y: visible;

    .question-content {
        display: flex;
        flex-direction: coloumn;
        gap: $global-spacing-3;

        .note-section {
            display: flex;
            flex-direction: coloumn;
        }

        .answers {
            display: flex;
            flex-direction: column;
            gap: $global-spacing-2;
            width: 500px;

            >* {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
