.country {
    .key-figure-list {
        display: grid;
        grid-gap: var(--go-ui-spacing-md);
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

        .key-figure {
            border-radius: var(--go-ui-border-radius-lg);
            background-color: var(--go-ui-color-white);
            height: 100%;
        }
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-md) var(--go-ui-spacing-lg);
    }
}
