.document-item {
    display: flex;
    gap: var(--go-ui-spacing-md);
    align-items: center;
    flex-grow: 1;
    border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);

    .info {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        gap: var(--go-ui-spacing-sm);

        .name {
            display: flex;
            word-break: break-word;
        }
    }

    .actions {
        display: flex;
        gap: var(--go-ui-spacing-sm);
        align-items: center;
    }
}
