.table {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: var(--go-ui-content-min-height);
    overflow-x: auto;

    .table-overflow-wrapper {
        display: flex;
        flex-direction: column;
        overflow-x: auto;

        .table-element {
            /* NOTE: This will ensure that the z-index in
             * children elements doesn't affect rest of the page */
            position: relative;
            z-index: 0;

            border-collapse: separate;
            border-spacing: 0;
            font-size: inherit;

            .header-row {
                .header-element {
                    position: sticky;
                    top: 0;
                    z-index: 1;

                    .header-component {
                        padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-sm);
                        font-size: var(--go-ui-font-size-sm);
                    }
                }
            }
        }
    }

    .message {
        &.pending {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
