.table {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 15rem;
    overflow-x: auto;

    .table-element {
        /* NOTE: This will ensure that the z-index in
         * children elements doesn't affect rest of the page */
        position: relative;
        z-index: 0;

        border-collapse: separate;
        border-spacing: 0;
        font-size: inherit;

        .header-row {
            .header-element {
                overflow: hidden;
                vertical-align: bottom;
                text-align: left;

                .header-component {
                    padding: var(--go-ui-spacing-md);
                    overflow: hidden;
                }
            }
        }
    }

    .message {
        &.pending {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            background-color: var(--go-ui-color-background-overlay);
            width: 100%;
            height: 100%;
        }
    }
}
