.region-seasonal-risk-watch {
    display: flex;
    flex-direction: column;
    padding: var(--go-ui-spacing-4xl) 0;
    overflow: auto;

    .content {
        display: flex;
        height: 40rem;
        gap: var(--go-ui-spacing-xl);

        .map-container {
            flex-grow: 1;
        }

        .country-list {
            flex-basis: calc(14vw + 16rem);
            background-color: var(--go-ui-color-background);

            .content {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-md);
                overflow: auto;

                .country {
                    .name {
                        font-size: var(--go-ui-font-size-xs);
                    }

                    .track {
                        display: flex;
                        background-color: var(--go-ui-color-background);
                        height: 0.5rem;

                        .bar {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
