.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .item {
        display: flex;

        &:not(:last-child) {
            color: var(--go-ui-color-gray-70);
        }

        &:last-child {
            color: var(--go-ui-color-black);
        }
    }

    .separator {
        display: flex;
        justify-content: center;
        color: var(--go-ui-color-gray-70);
        font-size: var(--go-ui-font-size-xl);
    }
}
