.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .item {
        display: flex;

        &:not(:last-child) {
            color: var(--go-ui-color-gray-70);
            font-weight: var(--go-ui-font-weight-light);
            :hover {
                text-decoration: underline;
                color: var(--go-ui-color-primary-red);
            }
        }

        &:last-child {
            color: var(--go-ui-color-black);
            font-weight: var(--go-ui-font-weight-semibold);
        }
    }

    .separator {
        display: flex;
        justify-content: center;
        color: var(--go-ui-color-gray-70);
        font-size: var(--go-ui-font-size-xl);
    }
}
