.tooltip-dummy {
    opacity: 0;
    width: 0;
    height: 0;
}

.tooltip-content {
    opacity: 0;
    padding: 0;
    animation: slide-down var(--go-ui-duration-transition-medium) ease-in forwards;
    animation-delay: var(--go-ui-duration-transition-fast);

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-sm);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-5pt);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
