.popup {
    position: fixed;
    border-radius: 4px;
    box-shadow:  var(--go-ui-box-shadow-popup);
    background-color: var(--go-ui-color-white);
    max-height: 40vh;
    overflow: auto;
}

.pointer {
    position: fixed;
    transform: translateX(-50%);
    background-color: transparent;
    line-height: 0;
    color: var(--go-ui-color-white);
    font-size: 0.5rem;
    pointer-events: none;
    filter: drop-shadow(0 -1pt 1pt rgb(0 0 0 / .1));

    .icon {
        width: 2em;
        height: 1em;
        fill: currentColor;
    }

    &.top-orientation {
        transform: translateX(-50%) rotate(180deg);
    }
}
