.eru-input-item {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        gap: var(--go-ui-spacing-sm);
        flex-wrap: wrap;

        .input-section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .readiness-input {
                display: flex;

                .radio-list {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
