.button {
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    min-height: var(--go-ui-font-size-2xl);
}

.clear-button {
    --font-size: var(--go-ui-font-size-md);
}

.disabled {
    pointer-events: none;
}
