.event-timeline {
    --event-height: 12rem;
    --event-width: 14rem;

    position: relative;

    .events-container {
        display: flex;
        position: relative;
        align-items: center;
        margin: var(--go-ui-spacing-md);
        width: calc(100% - var(--event-width));
        height: calc(2 * var(--event-height));
        isolation: isolate;

        .event {
            --event-border-width: var(--go-ui-width-separator-md);
            --event-active-border-width: var(--go-ui-width-separator-lg);

            display: flex;
            position: absolute;
            width: var(--event-width);
            height: var(--event-height);
            font-size: var(--go-ui-font-size-sm);

            .border {
                position: absolute;
                left: 0;
                height: 100%;
                border-inline-start: var(--event-border-width) solid var(--go-ui-color-separator);

                .highlight {
                    position: absolute;
                    left: calc(-1 * (var(--event-border-width) + var(--event-active-border-width)) / 2);
                    border-inline-start: var(--event-active-border-width) solid var(--go-ui-color-primary-blue);
                    height: 1.35rem;
                }
            }

            &:nth-child(2n) {
                height: var(--event-height);
            }

            &:nth-child(2n + 1) {
                height: var(--event-height);
            }

            &:nth-child(4n) {
                height: calc(var(--event-height) / 2);
            }

            &:nth-child(4n-1) {
                height: calc(var(--event-height) / 2);
            }

            &:nth-child(even) {
                top: 50%;
                align-items: end;

                .border {
                    .highlight {
                        bottom: 0;
                    }
                }
            }

            &:nth-child(odd) {
                bottom: 50%;
                align-items: start;
            }

            .content {
                width: 100%;
            }

            &:hover {
                z-index: 1;
                background-color: unset;

                /*
                .content {
                    border-radius: var(--go-ui-border-radius-md);
                    box-shadow: var(--go-ui-box-shadow-sm);
                    background-color: rgba(255, 255, 255, .8);
                }
                */
            }
        }

        .marker {
            position: absolute;
            height: calc(2 * var(--event-height));
            border-inline-start: var(--go-ui-width-separator-sm) dashed var(--go-ui-color-separator);

            .label {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -100%);
                background-color: var(--go-ui-color-foreground);
            }
        }
    }

    .event-line {
        position: absolute;
        top: 50%;
        border-bottom: var(--go-ui-width-separator-md) solid var(--go-ui-color-primary-blue);
        width: 100%;
    }
}
