.info-popup {
    display: inline-flex;

    .label {
        display: inline-flex;
        align-items: center;
        gap: var(--go-ui-spacing-xs);

        .icon {
            display: inline-flex;
            line-height: 1;
            /* FIXME: use variables */
            font-size: 1rem;
        }
    }

}

.dropdown-container {
    padding: 0;
    min-width: min(20rem, 100vw);
    max-width: min(30rem, 40vw);

    .content {
        display: flex;
        flex-direction: column;
        white-space: pre-wrap;
        gap: var(--go-ui-spacing-xs);
        font-size: var(--go-ui-font-size-sm);
    }
}
