.image {
    margin: 0;

    .img-element {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }

    .caption {
        text-align: center;
    }
}
