.image {
    display: flex;
    flex-direction: column;
    margin: 0;

    .img-element {
        background-color: var(--go-ui-color-background);
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }

    &.expandable {
        cursor: pointer;
    }

    .caption {
        text-align: center;
    }
}

.expanded-modal {
    .content {
        display: flex;

        .img-element {
            margin: 0;
            background-color: var(--go-ui-color-background);
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
}
