.pie-chart {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--go-ui-spacing-md);

    .legend {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;

        .legend-item {
            font-size: var(--go-ui-font-size-xs);
        }
    }
}
