.membership-coordination-table {
    .icon {
        color: var(--go-ui-color-primary-red);
        font-size: 1.33em;
    }

    .sector-heading {
        transform: rotate(180deg);
        writing-mode: vertical-lr;
    }
}
