.wash-kit{
    padding-top: var(--go-ui-spacing-md);

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-lg);

        .image-list {
            height: 16rem;
            object-fit: contain;
        }

        .inner-content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);
        }

        .specification {
            font-style: italic;
        }
    }
}