.district-list {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--go-ui-spacing-sm);

    .local-units {
        padding-left: var(--go-ui-spacing-sm);
        font-size: var(--go-ui-font-size-sm);
    }
}
