.surge-operational-toolbox {
    padding: var(--go-ui-spacing-4xl) 0;

    .operational-toolbox-overview {
        .content {
            display: flex;
            flex-direction: column;
            gap: var(--go-ui-spacing-lg);

            .how-to {
                padding: 0 var(--go-ui-spacing-2xl);
            }
        }
    }

    .svg-container {
        padding: var(--go-ui-spacing-xl) 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-md);
    }

}

:global {
    .operational-toolbox-svg-pointer-event {
        cursor: pointer;
    }
}
