.search {
    .page-description {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--go-ui-spacing-xl);

        .search-input-container {
            display: flex;
            align-items: baseline;
            width: 100%;
            gap: var(--go-ui-spacing-sm);

            .search-input {
                flex-grow: 1;
            }
        }

        .text {
            color: var(--go-ui-color-text-light);
        }

        .feedback {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--go-ui-spacing-md);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-2xl);
    }

    .close-icon,
    .forward-icon,
    .back-icon {
        font-size: var(--go-ui-height-icon-multiplier);
    }

    .empty-search-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .icon {
            font-size: 10rem;
        }
    }
}
