.row {
    .cell {
        padding: var(--go-ui-spacing-sm);
        overflow: hidden;
        word-break: break-all;
    }

    &:hover {
        .cell {
            background-color: var(--go-ui-color-background-hover);
        }
    }
}
