.per-performance-dashboard {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-md);
    margin-bottom: 16px;
    padding: 0 16px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-sm);
}

.last-updated {
    color: var(--go-ui-color-text-light);
    font-size: var(--go-ui-font-size-sm);
}

.header-body {
    line-height: var(--go-ui-line-height-md);
    color: var(--go-ui-color-text);
    font-size: var(--go-ui-font-size-md);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-xl);
}

.lastUpdate {
    color: var(--go-ui-color-gray-60);
    font-size: var(--go-ui-font-size-sm);
}
