.alert {
    border-radius: var(--go-ui-border-radius-md);
    background-color: var(--variant-color);
    color: var(--text-color);
    --variant-color: var(--go-ui-color-background);
    --text-color: var(--go-ui-color-text);

    &.with-light-background {
        background-color: color-mix(in srgb, var(--variant-color) 6%, var(--go-ui-color-foreground));
        color: var(--variant-color);
    }

    .icon {
        font-size: var(--go-ui-font-size-2xl);
    }

    .close-icon {
        font-size: var(--go-ui-font-size-2xl);
    }

    &.info {
        --variant-color: var(--go-ui-color-gray-80);
        --text-color: var(--go-ui-color-text-on-dark);
    }

    &.success {
        --variant-color: var(--go-ui-color-positive);
        --text-color: var(--go-ui-color-text-on-dark);
    }

    &.danger {
        --variant-color: var(--go-ui-color-negative);
        --text-color: var(--go-ui-color-text-on-dark);
    }

    &.warning {
        --variant-color: var(--go-ui-color-warning);
        --text-color: var(--go-ui-color-text-on-dark);
    }
}
