.link {
    --decoration: none;

    display: inline-flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: fit-content;
    overflow: auto;

    &.dropdown-item {
        width: 100%;
    }

    &:not(.non-link) {
        font-weight: var(--go-ui-font-weight-medium);

        &.underline {
            --decoration: underline;
        }
    }

    &:not(.tertiary):not(.dropdown-item) {
        text-align: center;
    }

    &:not(.disabled):not(.non-link) {
        cursor: pointer;

        &:hover {
            --decoration: underline;
        }
    }

    &.disabled {
        pointer-events: none;
    }

    .link-element {
        display: flex;
        align-items: center;
        flex-grow: 1;
        text-decoration: var(--decoration);

        &:focus {
            outline: var(--go-ui-width-separator-thin) dashed var(--go-ui-color-gray-40);
            outline-offset: -4px;
        }
    }

    .external-link-icon,
    .forward-icon {
        font-size: var(--go-ui-font-size-xl);
    }
}
