.link {
    --decoration: none;

    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: fit-content;
    text-decoration: var(--decoration);

    &:not(.non-link) {
        font-weight: var(--go-ui-font-weight-medium);

        &.underline {
            --decoration: underline;
        }
    }

    &:not(.disabled):not(.non-link) {
        cursor: pointer;

        &:hover {
            --decoration: underline;
        }
    }

    &.disabled {
        pointer-events: none;
    }

    .link-element {
        display: flex;
        align-items: center;
        flex-grow: 1;
        text-decoration: none;
        color: inherit;
    }

    .external-link-icon,
    .forward-icon {
        font-size: var(--go-ui-font-size-xl);
    }
}
