.national-society-directory {
    overflow-y: auto;

    .content {
        overflow-y: auto;

        .directory {
            .full-name {
                font-weight: var(--go-ui-font-weight-bold);
            }

            .position {
                color: var(--go-ui-color-text-light);
            }
        }
    }
}
