.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: var(--go-ui-opacity-message);
    min-height: 15rem;
    text-align: center;
    gap: var(--go-ui-spacing-md);

    .icon {
        font-size: var(--go-ui-font-size-6xl);

        .spinner {
            font-size: var(--go-ui-font-size-4xl);
        }
    }

    .title {
        font-size: var(--go-ui-font-size-2xl);
    }

    &.errored {
        .title {
            color: var(--go-ui-color-primary-red);
        }
    }
}
