.preparedness-global-performance {
    width: 100%;
    aspect-ratio: 3 / 4;

    .performance-iframe {
        border: none;
        /* background-color: var(--go-ui-color-gray-30); */
        width: 100%;
        height: 100%;
    }
}
