.map {
    display: flex;
    gap: var(--go-ui-spacing-md);
    height: 40rem;
    overflow: auto;

    .map-with-legend {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .map-container {
            flex-grow: 1;
        }
    }

    .sidebar {
        flex-basis: calc(12vw + 14rem);
        background-color: var(--go-ui-color-background);
        overflow: auto;
    }

    @media screen and (max-width: 50rem) {
        flex-direction: column;
        height: initial;

        .sidebar {
            flex-basis: unset;
        }

        .map-with-legend {
            height: min(40rem, 60vh);
        }
    }
}

.stats{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--go-ui-font-size-sm);
    gap: var(--go-ui-spacing-xs) var(--go-ui-spacing-lg);

    .label {
        order: 2;
    }
}

.map-popup-content {
    .national-society-list {
        display: table;
        font-size: var(--go-ui-font-size-sm);
        padding: var(--go-ui-spacing-sm);

        .main-text-output {
            display: table-row;

            .main-value,
            .main-label {
                display: table-cell;
            }

            .sector-text-output {
                display: block;

                >* {
                    display: inline;
                }

                .sector-value {
                    padding: 0 var(--go-ui-spacing-xs);
                }
            }
        }
    }
}
